Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables, preload-types

lefthook.yml:

# Lefthook configuration for Atomiton monorepo
# https://github.com/evilmartians/lefthook

# Set environment variable to indicate running in git hooks (affects headless mode, dev tools, etc.)
env:
  LEFTHOOK: "1"

# Fast pre-commit hooks - catches 95% of issues in ~15-30s
pre-commit:
  parallel: true
  commands:
    # Format staged files with Prettier
    format:
      glob: "*.{ts,tsx,js,jsx,md,json,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
      fail_text: "❌ Formatting failed"

    # Fix linting issues on staged TypeScript/JavaScript files
    lint-fix:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
      fail_text: "❌ Linting fixes failed"

    # Format markdown tables in staged markdown files
    markdown-tables:
      glob: "*.md"
      run: npx markdown-table-prettify {staged_files}
      stage_fixed: true
      fail_text: "❌ Markdown table formatting failed"

    # Auto-regenerate preload types when RPC types change
    preload-types:
      glob: "packages/@atomiton/rpc/src/shared/types.ts"
      run: |
        echo "🔄 RPC types changed, regenerating preload types..."
        pnpm generate:preload-types

        echo "✅ Validating preload types..."
        pnpm validate:preload-types

        # Stage regenerated file if changed
        git add apps/desktop/src/preload/preload.d.ts
      fail_text: "❌ Preload type generation failed"

    # Type check all packages (turbo cached, very fast)
    type-check:
      run: |
        echo "🔍 Type checking affected packages..."
        pnpm typecheck
      fail_text: "❌ Type check failed - please fix TypeScript errors"

    # Unit tests (turbo cached, catches logic errors early)
    unit-tests:
      run: |
        echo "🧪 Running tests in affected packages..."
        pnpm test
      fail_text: "❌ Unit tests failed - please fix failing tests"

# Comprehensive pre-push hooks - runs ~2-5min before sharing code
pre-push:
  parallel: true
  commands:
    build-check:
      run: |
        echo "🏗️ Verifying build integrity for affected packages..."
        pnpm build
      fail_text: "❌ Build failed - please fix build errors"

    # Integration tests (tests package interactions)
    integration-tests:
      run: |
        echo "🎭 Running integration tests in affected packages..."
        pnpm test:integration
      fail_text: "❌ Integration tests failed"

    # E2E tests (tests full user flows, headless by default)
    e2e-tests:
      run: |
        echo "🌐 Running end-to-end tests (headless) in affected packages..."
        pnpm test:e2e
      fail_text: "❌ E2E tests failed"

# Skip options for cleaner output
skip_output:
  - meta
  - summary

feat: improve progress visualization and code quality
  .claude/strategies/SEQUENTIAL_NODE_PROGRESS_VISUALIZATION.md
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  apps/client/src/components/NodeFieldRenderer/fields/ColorField.tsx
  apps/client/src/components/NodeFieldRenderer/fields/RangeField.tsx
  apps/client/src/components/NodeFieldRenderer/fields/TextAreaField.tsx
  apps/client/src/components/NodeFieldRenderer/index.ts
  apps/client/src/components/NodeFieldRenderer/types.ts
  apps/client/src/templates/DebugPage/components/FlowProgressBar.tsx
  apps/client/src/templates/DebugPage/store.ts
  apps/desktop/src/integration/channels-progress-events.test.ts
  packages/@atomiton/conductor/src/execution/executeLocal.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Node/index.tsx
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
  packages/@atomiton/nodes/src/core/utils/executable.ts
  packages/@atomiton/nodes/src/executables/file-system/index.ts
  packages/@atomiton/nodes/src/graph/graphAnalyzer.test.ts
  packages/@atomiton/nodes/src/serialization/fromYaml.ts
  packages/@atomiton/nodes/src/templates/flows/hello-world.flow.yaml
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
Due: format, lint-fix, markdown-tables

fix: resolve type safety issues in progress visualization
  .claude/TODO_INTEGRATION_TESTING.md
  .claude/strategies/EXECUTION_TRACE_IN_RESULTS.md
  .claude/strategies/SEQUENTIAL_NODE_PROGRESS_VISUALIZATION.md
  apps/client/src/templates/DebugPage/components/FlowActionButtons.tsx
  apps/client/src/templates/DebugPage/components/FlowProgressBar.tsx
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/client/src/templates/DebugPage/store.ts
  apps/client/src/templates/DebugPage/types.ts
  apps/desktop/src/main/config/index.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/main/window/manager.ts
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executeGraphNode.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/slowMo.test.ts
  packages/@atomiton/conductor/src/exports/browser/nodeApi.ts
  packages/@atomiton/conductor/src/types/execution.ts
  packages/@atomiton/nodes/docs/WEIGHT_CALIBRATION.md
  packages/@atomiton/nodes/src/graph/weights.ts
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
  packages/@atomiton/utils/src/index.ts
Due: format, lint-fix, markdown-tables

feat(conductor): implement sequential progress visualization for node execution
  .claude/TODO_INTEGRATION_TESTING.md
  .claude/strategies/SEQUENTIAL_NODE_PROGRESS_VISUALIZATION.md
  apps/client/src/lib/conductor/index.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/constants.ts
  packages/@atomiton/conductor/src/execution/executeGraphNode.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/sequentialProgress.test.ts
  packages/@atomiton/conductor/src/execution/slowMo.test.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/browser/types.test.ts
  packages/@atomiton/conductor/src/exports/browser/types.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix, markdown-tables

docs: add Phase 3 implementation roadmap to progress visualization strategy
  .claude/strategies/SEQUENTIAL_NODE_PROGRESS_VISUALIZATION.md
Due: format, markdown-tables

fix(conductor): complete Phase 0 critical fixes for progress visualization
  .claude/strategies/CONDUCTOR_API_LAYERING_FIX.md
  .claude/strategies/CRITICAL_ISSUES_AND_ACTION_PLAN.md
  .claude/strategies/MIGRATE_TO_EVENTEMITTER3.md
  .claude/strategies/PROGRESS_VISUALIZATION_REMAINING_WORK.md
  .claude/strategies/VISUAL_NODE_ANIMATIONS_STRATEGY.md
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/dataFlow.test.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/sequentialProgress.test.ts
  packages/@atomiton/conductor/src/execution/slowMo.test.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix, markdown-tables

refactor(conductor): remove any types from dataFlow tests
  packages/@atomiton/conductor/src/execution/dataFlow.test.ts
Due: format, lint-fix

refactor(conductor): improve type safety for ConductorExecutionContext.input
  packages/@atomiton/conductor/src/execution/dataFlow.test.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/types/execution.ts
Due: format, lint-fix

perf(test): implement Phase 1 optimizations and streamline git hooks
  .claude/strategies/CRITICAL_ISSUES_AND_ACTION_PLAN.md
  .claude/strategies/EDGE_ANIMATION_RESEARCH.md
  .claude/strategies/PROGRESS_VISUALIZATION_REMAINING_WORK.md
  .claude/strategies/SEQUENTIAL_NODE_PROGRESS_VISUALIZATION.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_PROMPTS.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_STRATEGY.md
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  lefthook.yml
  turbo.json
Due: format, lint-fix, markdown-tables

perf(test): upgrade to Vitest 3.x and optimize test configuration
  .claude/strategies/TEST_SUITE_OPTIMIZATION_PROGRESS.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_STRATEGY.md
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  docs/testing/TEST_TAGGING_GUIDE.md
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/logger/package.json
  pnpm-lock.yaml
  turbo.json
  vitest.config.ts
Due: format, lint-fix, markdown-tables

perf(test): implement Phase 3 test suite optimization with framework-native features
  .claude/strategies/PHASE_3_ADVANCED_OPTIMIZATIONS.md
  .github/workflows/test.yml
  .gitignore
  docs/testing/TEST_TAGGING_GUIDE.md
  package.json
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/dataFlow.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/slowMo.test.ts
  packages/@atomiton/conductor/src/exports/browser/index.test.ts
  packages/@atomiton/nodes/src/core/utils/createFieldsFromSchema.test.ts
  packages/@atomiton/nodes/src/graph/graphAnalyzer.test.ts
  packages/@atomiton/storage/src/storageFactory.test.ts
  scripts/compare-test-performance.ts
Due: format, lint-fix, markdown-tables

refactor(conductor): extract execution concerns into focused utilities
  .claude/strategies/PROGRESS_VISUALIZATION_REMAINING_WORK.md
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/contextBuilder.ts
  packages/@atomiton/conductor/src/execution/executeGraph.test.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executeGraphNode.test.ts
  packages/@atomiton/conductor/src/execution/executeGraphNode.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/inputBuilder.ts
  packages/@atomiton/conductor/src/execution/progressAnimation.ts
  packages/@atomiton/conductor/src/execution/resultBuilder.ts
  packages/@atomiton/conductor/src/execution/sequentialProgress.test.ts
  packages/@atomiton/conductor/src/execution/slowMo.test.ts
  packages/@atomiton/conductor/src/execution/storeHelpers.ts
  packages/@atomiton/conductor/src/execution/validation.ts
  packages/@atomiton/editor/BROWSER_SUPPORT.md
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.test.tsx
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat(editor): implement custom edge progress visualization
  apps/client/src/templates/DebugPage/components/FlowActionButtons.tsx
  apps/client/src/templates/DebugPage/components/FlowSelector.tsx
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/components/Canvas/constants.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Edge/ProgressEdge.tsx
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
Due: format, lint-fix

feat(editor): add blue-to-green execution states and simplified debug controls
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Edge/ProgressEdge.tsx
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
Due: format, lint-fix

feat(editor): add CSS variables for node and edge border control
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

refactor(editor): optimize CSS with :is() and add debug controls
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/execution/contextBuilder.ts
  packages/@atomiton/conductor/src/execution/debugErrorSimulation.test.ts
  packages/@atomiton/conductor/src/execution/debugUtils.test.ts
  packages/@atomiton/conductor/src/execution/debugUtils.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executeGraphNode.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/progressController.ts
  packages/@atomiton/conductor/src/exports/browser/nodeApi.ts
  packages/@atomiton/conductor/src/types/execution.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
Due: format, lint-fix

fix(conductor): delay node completion until progress animation finishes
  .claude/strategies/TEST_SUITE_OPTIMIZATION_PROGRESS.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_PROMPTS.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_STRATEGY.md
  packages/@atomiton/conductor/src/execution/executeGraphNode.ts
  packages/@atomiton/conductor/src/execution/progressController.ts
Due: format, lint-fix, markdown-tables

fix(conductor): resolve TypeScript, ESLint, and test failures
  .claude/strategies/PROGRESS_VISUALIZATION_REMAINING_WORK.md
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
  packages/@atomiton/conductor/src/execution/debugErrorSimulation.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/progressController.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix, markdown-tables

fix(conductor): update test factories to calculate cachedProgress correctly
  packages/@atomiton/conductor/src/test-utils/factories.ts
Due: format, lint-fix

feat(editor): add elegant node completion, error, and handle animations
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useAnimationPreferences.ts
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
  packages/@atomiton/editor/src/index.ts
Due: format, lint-fix

fix(editor): dual progress borders meet at output handle
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

fix(editor): correct progress border direction for left/right handles
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

feat(editor): pulse output handle when node completes
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix

fix(editor): remove input handle pulse to avoid edge animation conflict
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix

feat(editor): re-add input handle pulse on execution start
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix

fix(editor): add 200ms delay to input handle pulse for visual separation
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
Due: format, lint-fix

fix(editor): reduce handle pulse opacity for subtler effect
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

fix(editor): increase handle pulse size for better visibility
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

fix(editor): reduce handle pulse opacity for more subtle effect
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

refactor(editor): simplify animation system and remove unused code
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/hooks/useAnimationPreferences.ts
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
  packages/@atomiton/editor/src/index.ts
Due: format, lint-fix

refactor(editor): optimize CSS with nesting and consolidation
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

feat(conductor): add execution trace capture to results
  .claude/strategies/EDGE_ANIMATION_RESEARCH.md
  .claude/strategies/FLOW_EXECUTION_STRATEGY.md
  .claude/strategies/PHASE_3_ADVANCED_OPTIMIZATIONS.md
  .claude/strategies/PROGRESS_VISUALIZATION_REMAINING_WORK.md
  apps/client/src/templates/DebugPage/components/LogsSection.tsx
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/client/src/templates/DebugPage/types.ts
  apps/desktop/src/integration/channels-progress-events.test.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executionGraphHelpers.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/executionTrace.test.ts
  packages/@atomiton/conductor/src/execution/resultBuilder.ts
  packages/@atomiton/conductor/src/types/execution.ts
Due: format, lint-fix, markdown-tables

remove strategy
  .claude/strategies/EXECUTION_TRACE_IN_RESULTS.md
Due: format, markdown-tables

fix(client): resolve progress events crash with defensive null checks
  apps/client/package.json
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.test.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeSmokeTests.ts
  apps/client/src/templates/DebugPage/hooks/useSystemOperations.ts
  apps/desktop/src/integration/channels-progress-events.test.ts
  apps/desktop/src/main/services/channels.ts
  package.json
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/execution/types.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/conductor/src/types/branded.ts
  packages/@atomiton/conductor/src/types/errors.ts
  packages/@atomiton/conductor/src/types/events.ts
  packages/@atomiton/conductor/src/types/index.ts
  pnpm-lock.yaml
Due: format, lint-fix

fix(editor): rebuild package to generate TypeScript declarations
  apps/client/src/components/RunFlow/index.tsx
Due: format, lint-fix

refactor: extract test fixtures to @atomiton/test package and fix type issues
  .claude/ARCHITECTURE.md
  .claude/strategies/electron-file-management-strategy.md
  apps/client/package.json
  apps/client/src/templates/DebugPage/fixtures/node-smoke-tests.ts
  apps/client/src/templates/DebugPage/fixtures/smoke-tests/index.ts
  apps/client/src/templates/DebugPage/hooks/useDebugOptions.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.test.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeSmokeTests.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/client/src/templates/DebugPage/types.ts
  eslint.config.js
  packages/@atomiton/editor/src/hooks/useFlowToReactFlow.ts
  packages/@atomiton/nodes/src/serialization/validators.ts
  packages/@atomiton/test/.eslintrc.json
  packages/@atomiton/test/package.json
  packages/@atomiton/test/src/fixtures/templates/node-smoke-tests.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/edit-fields.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/file-system.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/group.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/http-request.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/image.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/index.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/loop.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/parallel.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/shell-command.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/spreadsheet.ts
  packages/@atomiton/test/src/fixtures/templates/smoke-tests/transform.ts
  packages/@atomiton/test/tsconfig.json
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

refactor(storage): improve PathManager type safety and add comprehensive testing
  apps/desktop/src/main/app/lifecycle.ts
  apps/desktop/src/main/bootstrap.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/main/services/flowStorage.ts
  apps/desktop/src/main/services/pathManager.ts
  apps/desktop/src/main/services/storage.ts
  apps/e2e/src/fixtures/testPaths.ts
  docs/architecture/CONDUCTOR_API.md
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/channels/index.ts
  packages/@atomiton/rpc/src/main/channels/pathChannel.test.ts
  packages/@atomiton/rpc/src/main/channels/pathChannel.ts
  packages/@atomiton/rpc/src/main/channels/storageChannel.test.ts
  packages/@atomiton/rpc/src/main/channels/storageChannel.ts
  packages/@atomiton/storage/src/exports/desktop/index.ts
  packages/@atomiton/storage/src/index.ts
  packages/@atomiton/storage/src/paths/createPathManager.context.test.ts
  packages/@atomiton/storage/src/paths/createPathManager.operations.test.ts
  packages/@atomiton/storage/src/paths/createPathManager.paths.test.ts
  packages/@atomiton/storage/src/paths/createPathManager.sanitization.test.ts
  packages/@atomiton/storage/src/paths/createPathManager.ts
  packages/@atomiton/storage/src/paths/createPathManager.types.test.ts
  packages/@atomiton/storage/src/paths/index.ts
  pnpm-lock.yaml
  turbo.json
Due: format, lint-fix, markdown-tables

fix(store): remove duplicate vite-plugin-dts import
  packages/@atomiton/store/vite.config.ts
Due: format, lint-fix

fix(ui): externalize react-router-dom and add as peer dependency
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint-fix

fix(ui): use regex pattern for # subpath import alias resolution
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix
