Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables, preload-types

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: ❌ Formatting failed

lint-fix:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  fail_text: ❌ Linting fixes failed

markdown-tables:
  run: npx markdown-table-prettify {staged_files}
  stage_fixed: true
  fail_text: ❌ Markdown table formatting failed

preload-types:
  run: 'echo "🔄 RPC types changed, regenerating preload types..."
  
    pnpm generate:preload-types
  
  
    echo "✅ Validating preload types..."
  
    pnpm validate:preload-types
  
  
    # Stage regenerated file if changed
  
    git add apps/desktop/src/preload/preload.d.ts
  
    '
  ...

fix(conductor): relax executionTrace timing assertions for CI
  packages/@atomiton/conductor/src/execution/executionTrace.test.ts
Due: format, lint-fix

fix(client): resolve Vite circular dependency warning for useLink
  apps/client/src/components/Layout/Header/index.tsx
  apps/client/src/components/Templates/index.tsx
  apps/client/src/integration/templates.test.ts
  apps/client/src/router/index.tsx
  apps/client/src/templatePreloading.test.ts
Due: format, lint-fix

fix(turbo): change dev task dependencies from ^dev to ^build
  turbo.json
Due: format

feat(ci): add integration and e2e tests to GitHub workflow
  .github/workflows/test.yml
Due: format

refactor(ci): optimize test pipeline with waterfall dependencies
  .github/workflows/test.yml
Due: format

fix(ci): use package filter for Playwright installation in e2e tests
  .github/workflows/test.yml
Due: format

refactor(ci): simplify pipeline and add e2e test sharding
  .github/workflows/test.yml
Due: format

perf(ci): optimize test pipeline with shared build artifacts
  .github/workflows/test.yml
Due: format

fix(ci): rebuild Electron binary after cache restore for e2e tests
  .github/workflows/test.yml
Due: format

feat(client): standardize execution hooks with useNodeExecution foundation
  apps/client/src/components/Toolbar/index.tsx
  apps/client/src/hooks/useNodeExecution.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeOperations.ts
  docs/guides/EXECUTION_HOOKS.md
  packages/@atomiton/editor/src/index.ts
Due: format, lint-fix, markdown-tables

perf(editor): optimize edge progress with CSS pathLength normalization
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Edge/ProgressEdge.tsx
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
Due: format, lint-fix

refactor(client): rename sidebar tabs from Scene/Assets to Flow/Nodes
  apps/client/src/components/LeftSidebar/index.tsx
Due: format, lint-fix

refactor(client): move LogsSection to general components and update RightSidebar tabs
  apps/client/src/components/LogsSection/index.tsx
  apps/client/src/components/RightSidebar/index.tsx
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/client/src/templates/DebugPage/pages/NodesPage.tsx
Due: format, lint-fix

refactor(client): rename RightSidebar second tab from Logs to Output
  apps/client/src/components/RightSidebar/index.tsx
Due: format, lint-fix

feat(client): add output panel with toggles and enhanced log formatting
  apps/client/src/components/LayoutEditor/index.tsx
  apps/client/src/components/LogsSection/index.tsx
  apps/client/src/components/OutputPanel/index.tsx
  apps/client/src/components/RightSidebar/index.tsx
  apps/client/src/components/Section/index.tsx
  apps/client/src/components/Toolbar/index.tsx
  apps/client/src/store/editorUI.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/client/src/templates/DebugPage/store.ts
Due: format, lint-fix

revert(editor): restore simple node/edge progress timing from 683b678a
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Edge/ProgressEdge.tsx
  packages/@atomiton/editor/src/hooks/useEdgeExecutionState.ts
Due: format, lint-fix

revert(editor): restore simple node/edge progress timing from 683b678a
  packages/@atomiton/editor/src/components/Canvas/styles.css
Due: none

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,md,json,yml,yaml}
  lint-fix: any of: *.{ts,tsx,js,jsx}
  markdown-tables: any of: *.md
  preload-types: any of: packages/@atomiton/rpc/src/shared/types.ts
