Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for Atomiton monorepo
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,tsx,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,tsx}"
      run: pnpm eslint --fix {staged_files}
      stage_fixed: true
    test:
      run: pnpm turbo run test --filter="[HEAD]" --ui stream --output-logs=new-only --log-order=grouped

pre-push:
  parallel: false
  commands:
    test-unit:
      run: |
        echo "ðŸ§ª Running unit tests..."
        pnpm turbo run test --filter="...[origin/main]" --ui stream --output-logs=new-only --log-order=grouped
    test-integration:
      run: |
        echo "ðŸ”Œ Running integration tests..."
        pnpm turbo run test:integration --filter="...[origin/main]" --ui stream --output-logs=new-only --log-order=grouped
    test-benchmark:
      run: |
        echo "ðŸ“Š Checking for benchmark changes..."
        PACKAGES_WITH_BENCHMARKS="form vite-config yaml events conductor editor validation store router"
        for pkg in $PACKAGES_WITH_BENCHMARKS; do
          if git diff origin/main...HEAD --name-only | grep -q "packages/@atomiton/$pkg"; then
            echo "ðŸ“Š Running benchmarks for $pkg package..."
            pnpm --filter="@atomiton/$pkg" run test:benchmark --if-present 2>/dev/null || true
          fi
        done
        echo "âœ… Benchmark check complete"

fix: resolve benchmark test failures across packages
  packages/@atomiton/conductor/src/execution/execution.bench.ts
  packages/@atomiton/editor/src/__tests__/editorHooks.int.test.tsx
  packages/@atomiton/editor/src/__tests__/test-setup.ts
Due: format, lint

clean: remove duplicate nodeExecutor benchmark file
  packages/@atomiton/conductor/src/execution/execution.benchmark.ts
  packages/@atomiton/conductor/src/execution/nodeExecutor.bench.ts
Due: format, lint

feat: standardize path aliasing across Turborepo monorepo
  apps/client/src/App.tsx
  apps/client/src/components/CreateAccountPageAdapter.tsx
  apps/client/src/main.tsx
  apps/client/src/router.test.ts
  apps/client/src/router/hooks/useLink.ts
  apps/client/src/router/index.tsx
  apps/client/src/routerPreloading.test.ts
  apps/client/tsconfig.json
  apps/desktop/src/main/services/conductor.test.ts
  apps/desktop/src/main/services/index.test.ts
  apps/desktop/src/main/services/storage.test.ts
  docs/development/PACKAGE_CREATION_GUIDE.md
  docs/development/TYPESCRIPT_CONFIGURATION.md
  docs/guides/PACKAGE_INTEGRATION.md
  docs/strategies/examples/package-json-configs.md
  packages/@atomiton/conductor/src/electron/mainProcessHandler.test.ts
  packages/@atomiton/conductor/src/transport/ipcTransport.test.ts
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/index.test.ts
  packages/@atomiton/editor/src/types/EditorNode.test.ts
  packages/@atomiton/editor/tsconfig.json
  packages/@atomiton/nodes/tsconfig.json
  packages/@atomiton/typescript-config/base.json
  packages/@atomiton/typescript-config/bundler.json
  packages/@atomiton/typescript-config/development.json
  packages/@atomiton/typescript-config/package.json
  packages/@atomiton/typescript-config/react-bundler.json
  packages/@atomiton/typescript-config/react-development.json
  packages/@atomiton/ui/tsconfig.json
  scripts/test-dashboard.ts
Due: format, lint

refactor(desktop): implement path aliasing and enable debug logging by default
  apps/desktop/electron.vite.config.ts
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/services/conductor.test.ts
  apps/desktop/src/main/services/index.test.ts
  apps/desktop/src/main/services/index.ts
  apps/desktop/src/main/services/storage.test.ts
  apps/desktop/src/services.test.ts
  apps/desktop/src/servicesErrorHandling.int.test.ts
  apps/desktop/tsconfig.node.json
  apps/desktop/vitest.config.ts
  apps/desktop/vitest.main.config.ts
Due: format, lint

refactor: convert YAML package from ES6 classes to functional programming
  packages/@atomiton/yaml/src/api.ts
  packages/@atomiton/yaml/src/file.ts
  packages/@atomiton/yaml/src/index.ts
  packages/@atomiton/yaml/src/json.ts
  packages/@atomiton/yaml/src/parser.bench.ts
  packages/@atomiton/yaml/src/parser.test.ts
  packages/@atomiton/yaml/src/parser.ts
  packages/@atomiton/yaml/src/stringifier.bench.ts
  packages/@atomiton/yaml/src/stringifier.test.ts
  packages/@atomiton/yaml/src/stringifier.ts
  packages/@atomiton/yaml/src/utils/index.ts
  packages/@atomiton/yaml/src/validator.bench.ts
  packages/@atomiton/yaml/src/validator.test.ts
  packages/@atomiton/yaml/src/validator.ts
  packages/@atomiton/yaml/src/value.ts
  packages/@atomiton/yaml/src/version.ts
Due: format, lint

fix: update nodes package imports after YAML refactoring
  docs/testing/TEST_NAMING_STANDARDS.md
  packages/@atomiton/nodes/src/composite/transform/extractCompositeMetadata.ts
  packages/@atomiton/nodes/src/composite/transform/fromYaml.ts
  packages/@atomiton/nodes/src/composite/transform/toYaml.ts
  packages/@atomiton/nodes/src/transform/fromYaml.ts
  packages/@atomiton/nodes/src/transform/toYaml.ts
Due: format, lint

docs: add dev command testing to review checklist
  docs/REVIEW_CHECKLIST.md
Due: format

Update REVIEW_CHECKLIST
  docs/REVIEW_CHECKLIST.md
Due: format

test: update Git hooks to use correct test scripts and add test change to verify hook execution
  .husky/pre-commit
  .husky/pre-push
  packages/@atomiton/nodes/src/composite/transform/toYaml.ts
Due: format, lint

chore: clean up test changes and finalize Git hook improvements
  packages/@atomiton/nodes/src/composite/transform/toYaml.ts
Due: format, lint

fix: update pre-push hook to run ALL tests and include user journey validation
  .husky/pre-push
Due: none

feat: implement shared configuration patterns and rename environment variable
  .husky/pre-commit
  .husky/pre-push
  apps/client/playwright.config.ts
  apps/client/src/__tests__/desktop.integration.test.ts
  apps/client/vitest.config.ts
  apps/desktop/package.json
  apps/desktop/playwright.config.ts
  apps/desktop/src/__tests__/e2e/app-lifecycle.spec.ts
  apps/desktop/src/main/index.ts
  packages/@atomiton/ui/vitest.config.ts
  packages/@atomiton/vite-config/package.json
  packages/@atomiton/vite-config/src/presets/playwright.ts
  packages/@atomiton/vite-config/src/presets/vitest.ts
  packages/@atomiton/vite-config/vite.config.ts
  scripts/validate-packages.ts
  turbo.json
Due: format, lint

optimize: streamline git hooks to eliminate redundant testing
  .husky/pre-commit
  .husky/pre-push
Due: none

cleanup: remove unused Playwright dependencies and configs from UI package
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/src/tests/baseline-screenshots.spec.ts
  packages/@atomiton/ui/vitest.config.ts
Due: format, lint

fix: simplify pre-push hook to eliminate duplicate dev environment startup
  .husky/pre-push
Due: none

cleanup: remove remaining Playwright and integration test configs from UI package
  packages/@atomiton/ui/playwright.config.ts
  packages/@atomiton/ui/vitest.integration.config.ts
Due: format, lint

feat: migrate git hooks from Husky to Lefthook with optimized configuration
  .husky/_/pre-commit
  .husky/_/pre-push
  .husky/_/prepare-commit-msg
  .husky/post-push
  .husky/pre-commit
  .husky/pre-push
  apps/desktop/src/main/index.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: format, lint

perf: optimize turbo cache settings for faster test execution
  lefthook.yml
  turbo.json
Due: none

perf: remove build dependency from benchmark tests
  lefthook.yml
  turbo.json
Due: none

cleanup: remove unused benchmark scripts from packages
  packages/@atomiton/eslint-config/package.json
  packages/@atomiton/hooks/package.json
  packages/@atomiton/nodes/package.json
  packages/@atomiton/storage/package.json
  packages/@atomiton/typescript-config/package.json
  packages/@atomiton/ui/package.json
  packages/@atomiton/utils/package.json
Due: none

Testing Doc Updates
  docs/testing/COMPOSITE_NODES.md
  docs/testing/PACKAGE_TEST_SCRIPTS.md
  docs/testing/PERFORMANCE_WORKFLOW_INTEGRATION.md
  docs/testing/README.md
  docs/testing/TESTING.md
  docs/testing/TESTING_IMPROVEMENTS_SUMMARY.md
  docs/testing/TESTING_MIGRATION_PROMPT.md
  docs/testing/TESTING_PHILOSOPHY.md
  docs/testing/TESTING_STRATEGY.md
  docs/testing/TEST_PERFORMANCE_TRACKING.md
  docs/testing/USER_FLOWS.md
Due: format

TODO Doc
  docs/strategies/NAMING_CONSISTENCY_STRATEGY.md
Due: format

refactor: replace Hudson agent with Guilliman for standards enforcement
  .claude/agents/Guilliman.md
  .claude/agents/Jeeves.md
  .claude/agents/README.md
  .claude/agents/personas/AGENT_PERSONAS.md
  .claude/workflow/EXECUTION_PLAN.md
  .claude/workflow/HUDSON_TRIGGERS.md
  docs/strategies/NAMING_CONSISTENCY_STRATEGY.md
Due: format

fix: properly structure TypeScript config inheritance for non-inheritable properties
  apps/client/tsconfig.json
  packages/@atomiton/editor/tsconfig.json
  packages/@atomiton/store/tsconfig.json
  packages/@atomiton/typescript-config/base.json
  packages/@atomiton/ui/tsconfig.json
Due: none

feat: complete Node.js subpath import migration for all packages
  packages/@atomiton/eslint-config/package.json
  packages/@atomiton/eslint-config/tsconfig.json
  packages/@atomiton/eslint-config/vite.config.ts
  packages/@atomiton/typescript-config/package.json
  packages/@atomiton/validation/package.json
  packages/@atomiton/validation/src/validation.test.ts
  packages/@atomiton/vite-config/package.json
  packages/@atomiton/vite-config/src/config.bench.ts
  packages/@atomiton/vite-config/src/index.ts
  packages/@atomiton/vite-config/src/library.test.ts
  packages/@atomiton/vite-config/src/presets.test.ts
  packages/@atomiton/vite-config/src/presets/app.ts
  packages/@atomiton/vite-config/src/presets/library.ts
  packages/@atomiton/vite-config/src/presets/react.ts
  packages/@atomiton/vite-config/src/utils.test.ts
  packages/@atomiton/vite-config/src/utils/chunks.ts
  packages/@atomiton/vite-config/src/utils/terser.ts
  packages/@atomiton/vite-config/tsconfig.json
  packages/@atomiton/vite-config/vite.config.ts
Due: format, lint

refactor: centralize E2E testing in dedicated apps/e2e package
  apps/client/playwright.config.ts
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  apps/e2e/src/__tests__/desktop.integration.test.ts
  apps/e2e/src/__tests__/e2e/README.md
  apps/e2e/src/__tests__/e2e/basic-routes.spec.ts.bak
  apps/e2e/src/__tests__/e2e/blueprint-functionality.spec.ts.bak
  apps/e2e/src/__tests__/e2e/pages/base-page.ts
  apps/e2e/src/__tests__/e2e/pages/create-page.ts
  apps/e2e/src/__tests__/e2e/pages/editor-page.ts
  apps/e2e/src/__tests__/e2e/pages/explore-page.ts
  apps/e2e/src/__tests__/e2e/pages/home-page.ts
  apps/e2e/src/__tests__/e2e/pages/index.ts
  apps/e2e/src/__tests__/e2e/pages/my-scenes-page.ts
  apps/e2e/src/__tests__/e2e/pages/profile-page.ts
  apps/e2e/src/__tests__/e2e/pages/sign-in-page.ts
  apps/e2e/src/__tests__/e2e/user-journey-blueprint-creation.spec.ts
  apps/e2e/src/__tests__/e2e/user-journey-editor-node-connections.spec.ts
  apps/e2e/src/__tests__/e2e/user-journey-homepage-navigation.spec.ts
  apps/e2e/src/__tests__/e2e/user-journey-template-cards.spec.ts
  apps/e2e/src/__tests__/e2e/user-journey-template-editor-flow.spec.ts
  apps/e2e/src/__tests__/e2e/user-journey-template-to-editor.spec.ts
  apps/e2e/src/__tests__/e2e/utils/editor.utils.ts
  apps/e2e/src/__tests__/e2e/utils/index.ts
  apps/e2e/src/__tests__/e2e/utils/navigation.utils.ts
  apps/e2e/src/__tests__/e2e/utils/test-helpers.ts
  apps/e2e/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: format, lint

refactor: flatten E2E structure and add Node.js subpath imports
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  apps/e2e/src/README.md
  apps/e2e/src/__tests__/e2e/basic-routes.spec.ts.bak
  apps/e2e/src/__tests__/e2e/blueprint-functionality.spec.ts.bak
  apps/e2e/src/__tests__/e2e/pages/index.ts
  apps/e2e/src/pages/base-page.ts
  apps/e2e/src/pages/create-page.ts
  apps/e2e/src/pages/editor-page.ts
  apps/e2e/src/pages/explore-page.ts
  apps/e2e/src/pages/home-page.ts
  apps/e2e/src/pages/index.ts
  apps/e2e/src/pages/my-scenes-page.ts
  apps/e2e/src/pages/profile-page.ts
  apps/e2e/src/pages/sign-in-page.ts
  apps/e2e/src/tests/desktop.integration.test.ts
  apps/e2e/src/tests/user-journey-blueprint-creation.spec.ts
  apps/e2e/src/tests/user-journey-editor-node-connections.spec.ts
  apps/e2e/src/tests/user-journey-homepage-navigation.spec.ts
  apps/e2e/src/tests/user-journey-template-cards.spec.ts
  apps/e2e/src/tests/user-journey-template-editor-flow.spec.ts
  apps/e2e/src/tests/user-journey-template-to-editor.spec.ts
  apps/e2e/src/utils/editor.utils.ts
  apps/e2e/src/utils/index.ts
  apps/e2e/src/utils/navigation.utils.ts
  apps/e2e/src/utils/test-helpers.ts
  apps/e2e/tsconfig.json
Due: format, lint

refactor: clean up E2E TypeScript configuration
  apps/e2e/tsconfig.json
Due: none

refactor: replace custom cross-platform-kill script with fkill
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  package.json
  pnpm-lock.yaml
  scripts/cross-platform-kill.ts
Due: format, lint

feat(eslint): add code quality and formatting rules
  eslint.config.js
  packages/@atomiton/eslint-config/src/base.ts
Due: format, lint

feat(eslint): add no-inline-comments rule
  packages/@atomiton/eslint-config/src/base.ts
Due: format, lint

feat(prettier): add root Prettier configuration for consistent formatting
  .prettierignore
  .prettierrc
Due: none

feat(markdown): add markdown table prettification to lint-staged
  .lintstagedrc.js
  package.json
Due: none

feat(eslint): improve comment management rules
  packages/@atomiton/eslint-config/src/base.ts
Due: format, lint
