Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables

format:
  run: pnpm format
  stage_fixed: true
  fail_text: ❌ Formatting failed

lint-fix:
  run: pnpm lint:fix
  stage_fixed: true
  fail_text: ❌ Linting fixes failed

markdown-tables:
  run: npx markdown-table-prettify {staged_files}
  stage_fixed: true
  fail_text: ❌ Markdown table formatting failed

test: verify hooks with staged file
  test-hooks-v2.ts
Due: format, lint-fix

no lint staged
  .lintstagedrc.js
  knip.json
  package.json
  pnpm-lock.yaml
Due: format, lint-fix

test: verify lefthook hooks execution
  test-hooks-v3.ts
Due: format, lint-fix

test: add comment to trigger push hooks verification
  packages/@atomiton/utils/src/index.ts
Due: format, lint-fix

cleanup: remove test files and restore utils index
  .claude/EXECUTE_BLUEPRINT_TO_FLOW_RENAME.md
  .claude/MIGRATION_STRATEGY.md
  packages/@atomiton/utils/src/index.ts
  test-format.ts
  test-hooks-v2.ts
  test-hooks-v3.ts
  test-hooks.ts
  test-optimization.ts
  test-results.txt
  test-workspace.ts
Due: format, lint-fix, markdown-tables

restructure nodes
  packages/@atomiton/nodes/src/core/factories/createNodeDefinition.ts
  packages/@atomiton/nodes/src/core/factories/createNodeMetadata.ts
  packages/@atomiton/nodes/src/core/registry/flatNodeRegistry.ts
  packages/@atomiton/nodes/src/core/registry/index.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/core/types/metadata.ts
  packages/@atomiton/nodes/src/core/utils/compatibility.ts
  packages/@atomiton/nodes/src/core/utils/flatStructure.ts
  packages/@atomiton/nodes/src/core/utils/index.ts
  packages/@atomiton/nodes/src/core/utils/nodeHelpers.ts
  packages/@atomiton/nodes/src/definitions/code/index.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/index.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/index.ts
  packages/@atomiton/nodes/src/definitions/file-system/index.ts
  packages/@atomiton/nodes/src/definitions/group/index.ts
  packages/@atomiton/nodes/src/definitions/http-request/index.ts
  packages/@atomiton/nodes/src/definitions/image-composite/index.ts
  packages/@atomiton/nodes/src/definitions/loop/index.ts
  packages/@atomiton/nodes/src/definitions/parallel/index.ts
  packages/@atomiton/nodes/src/definitions/shell-command/index.ts
  packages/@atomiton/nodes/src/definitions/transform/index.ts
  packages/@atomiton/nodes/src/serialization/fromYaml.ts
  packages/@atomiton/nodes/src/serialization/toYaml.ts
Due: format, lint-fix

formatting
  .claude/CLAUDE.md
  .claude/EXECUTE_BLUEPRINT_TO_FLOW_RENAME.md
  .claude/agents/Michael.md
  .claude/agents/Ryan.md
  apps/client/CHANGELOG.md
  apps/client/ROADMAP.md
Due: format, markdown-tables

feat: add @atomiton/conductor package for centralized execution
  packages/@atomiton/conductor/CHANGELOG.md
  packages/@atomiton/conductor/README.md
  packages/@atomiton/conductor/eslint.config.js
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/index.ts
  packages/@atomiton/conductor/src/integration/conductor.test.ts
  packages/@atomiton/conductor/src/types.ts
  packages/@atomiton/conductor/tsconfig.json
  packages/@atomiton/conductor/vite.config.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

formatting
  .claude/MIGRATION_STRATEGY.md
  CURRENT.md
  apps/desktop/README.md
  apps/desktop/ROADMAP.md
  apps/e2e/src/README.md
  conductor/src/integration/conductor.test.ts
  docs/README.md
  docs/architecture/BENTO_BOX_IMPLEMENTATION.md
  docs/architecture/CONDUCTOR_API.md
  docs/architecture/SECURITY.md
  docs/architecture/STORAGE.md
  docs/nodes/README.md
  docs/project/README.md
  packages/@atomiton/nodes/docs/architecture/UNIFIED_ARCHITECTURE.md
  packages/@atomiton/nodes/src/core/registry/flatNodeRegistry.ts
  packages/@atomiton/nodes/src/core/registry/index.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/core/utils/compatibility.ts
  packages/@atomiton/nodes/src/core/utils/flatStructure.ts
  packages/@atomiton/nodes/src/core/utils/nodeHelpers.ts
  packages/@atomiton/storage/CURRENT.md
  packages/@atomiton/store/CURRENT.md
  packages/@atomiton/store/README.md
  packages/@atomiton/ui/README.md
  packages/@atomiton/yaml/ARCHITECTURE.md
  packages/@atomiton/yaml/NEXT.md
  packages/@atomiton/yaml/ROADMAP.md
  packages/README.md
Due: format, lint-fix, markdown-tables

feat(ipc): add tRPC dependencies and initial setup
  .claude/MIGRATION_STRATEGY.md
  packages/@atomiton/ipc/package.json
  packages/@atomiton/ipc/src/trpc/index.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat(rpc): migrate @atomiton/ipc to @atomiton/rpc with tRPC implementation
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  packages/@atomiton/ipc/src/shared/index.ts
  packages/@atomiton/ipc/src/trpc/index.ts
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/handlers.ts
  packages/@atomiton/rpc/src/main/index.ts
  packages/@atomiton/rpc/src/preload/index.ts
  packages/@atomiton/rpc/src/renderer/index.ts
  packages/@atomiton/rpc/src/schemas/index.ts
  packages/@atomiton/rpc/src/shared/channels.ts
  packages/@atomiton/rpc/src/shared/index.ts
  packages/@atomiton/rpc/src/shared/types.ts
  packages/@atomiton/rpc/src/trpc/context.ts
  packages/@atomiton/rpc/src/trpc/index.ts
  packages/@atomiton/rpc/src/trpc/router.ts
  packages/@atomiton/rpc/tsconfig.json
  packages/@atomiton/rpc/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: format, lint-fix

feat(desktop): integrate electron-trpc with flat node structure support
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/trpc/handler.ts
  apps/desktop/src/preload/index.ts
  pnpm-lock.yaml
Due: format, lint-fix

feat(client): integrate tRPC client with new flat node structure
  .claude/MIGRATION_STRATEGY.md
  apps/client/package.json
  apps/client/src/components/LeftSidebar/Assets/index.tsx
  apps/client/src/components/Providers/index.tsx
  apps/client/src/hooks/useNodes.ts
  apps/client/src/lib/rpc.ts
  apps/client/src/lib/rpcTypes.ts
  apps/client/src/lib/trpc.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat(desktop): implement tRPC procedures with flat node structure
  apps/desktop/src/main/procedures/execution.ts
  apps/desktop/src/main/procedures/nodes.ts
  apps/desktop/src/main/procedures/storage.ts
  apps/desktop/src/main/trpc/handler.ts
Due: format, lint-fix

feat(editor): add transform utilities and update node creation
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/components/Canvas/constants.ts
  packages/@atomiton/editor/src/components/Editor/EditorRoot.tsx
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/integration/editorHooks.test.tsx
  packages/@atomiton/editor/src/types/EditorNode.test.ts
  packages/@atomiton/editor/src/utils/node/creation.ts
  packages/@atomiton/editor/src/utils/transform.ts
  pnpm-lock.yaml
Due: format, lint-fix

feat(client): add tRPC hooks for Flow operations with flat node structure
  apps/client/src/components/EditorToolbar/index.tsx
  apps/client/src/components/FlowList/index.tsx
  apps/client/src/components/RunFlow/index.tsx
  apps/client/src/hooks/useFlow.ts
  apps/client/src/lib/rpcTypes.ts
  apps/client/tsconfig.json
Due: format, lint-fix

feat(yaml): add Flow support with flat node structure
  packages/@atomiton/yaml/package.json
  packages/@atomiton/yaml/src/flow.ts
  packages/@atomiton/yaml/src/index.ts
  pnpm-lock.yaml
Due: format, lint-fix

feat(flow): add versioning support with flat node structure migration
  .claude/MIGRATION_STRATEGY.md
  packages/@atomiton/flow/src/factories.ts
  packages/@atomiton/flow/src/index.ts
  packages/@atomiton/flow/src/integration/api.test.ts
  packages/@atomiton/flow/src/migrations/index.ts
  packages/@atomiton/flow/src/types.ts
Due: format, lint-fix, markdown-tables

feat(flow): implement comprehensive migration system with flat node structure
  apps/client/src/components/EditorToolbar/index.tsx
  apps/client/src/components/FlowList/index.tsx
  apps/client/src/hooks/useFlow.ts
  apps/client/src/lib/rpcTypes.ts
  apps/desktop/src/main/procedures/execution.ts
  apps/desktop/src/main/procedures/nodes.ts
  apps/desktop/src/main/procedures/storage.ts
  apps/desktop/src/main/trpc/handler.ts
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/flow/README.md
  packages/@atomiton/flow/package.json
  packages/@atomiton/flow/src/factories.test.ts
  packages/@atomiton/flow/src/migrations/index.ts
  packages/@atomiton/flow/src/migrations/migrations.test.ts
  packages/@atomiton/yaml/package.json
  packages/@atomiton/yaml/src/flow.ts
  packages/@atomiton/yaml/src/index.ts
Due: format, lint-fix, markdown-tables

refactor: remove all legacy nested node code and migration system
  apps/client/src/hooks/useFlow.ts
  apps/desktop/src/main/procedures/execution.ts
  apps/desktop/src/main/procedures/storage.ts
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/flow/src/index.ts
  packages/@atomiton/flow/src/migrations/index.ts
  packages/@atomiton/flow/src/migrations/migrations.test.ts
  packages/@atomiton/nodes/src/core/factories/createNodeDefinition.ts
  packages/@atomiton/nodes/src/core/factories/createNodeMetadata.ts
  packages/@atomiton/nodes/src/core/registry/index.ts
  packages/@atomiton/nodes/src/core/registry/nodeRegistry.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/core/types/metadata.ts
  packages/@atomiton/nodes/src/core/utils/compatibility.ts
  packages/@atomiton/nodes/src/core/utils/flatStructure.ts
  packages/@atomiton/nodes/src/core/utils/index.ts
  packages/@atomiton/nodes/src/core/utils/nodeHelpers.ts
  packages/@atomiton/nodes/src/core/utils/structure.ts
  packages/@atomiton/rpc/src/schemas/index.ts
  packages/@atomiton/rpc/src/trpc/router.ts
  packages/@atomiton/yaml/src/flow.ts
  packages/@atomiton/yaml/src/index.ts
Due: format, lint-fix

feat: implement native RPC system replacing electron-trpc
  .claude/E2E_TESTING_INVESTIGATION.md
  .claude/EXECUTE_BLUEPRINT_TO_FLOW_RENAME.md
  .claude/FLOW_LIFECYCLE.md
  .claude/MIGRATION_STRATEGY.md
  .claude/TYPE_HIERARCHY_CLARIFICATION.md
  .claude/UNIFIED_NODE_ARCHITECTURE.md
  apps/client/package.json
  apps/client/src/components/Providers/index.tsx
  apps/client/src/lib/rpc.ts
  apps/client/src/lib/trpc.ts
  apps/client/src/templates/DebugPage.tsx
  apps/client/vite.config.ts
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/trpc-bridge.ts
  apps/desktop/src/preload/index.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

chore: code cleanup and type improvements post-RPC implementation
  apps/desktop/src/main/procedures/storage.ts
  apps/desktop/src/main/trpc-bridge.ts
  apps/desktop/src/preload/index.ts
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/flow/src/index.ts
  packages/@atomiton/flow/src/types.ts
  packages/@atomiton/nodes/src/core/registry/nodeRegistry.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/core/types/metadata.ts
  packages/@atomiton/yaml/src/flow.ts
  packages/@atomiton/yaml/src/index.ts
Due: format, lint-fix

Documenation updates
  .claude/ARCHITECTURE.md
  .claude/CLAUDE.md
  .claude/DOMAIN_OWNERSHIP_SUMMARY.md
  .claude/DOMAIN_TYPES_INTERACTIONS.md
  .claude/FLOW_LIFECYCLE.md
  .claude/POST_MIGRATION_CLEANUP_STRATEGY.md
  .claude/README.md
  .claude/VERSIONING_STRATEGY.md
Due: format, markdown-tables

feat(nodes): simplify NodeExecutable to minimal interface per Gillimon's architecture vision
  .claude/ARCHITECTURE.md
  .claude/POST_MIGRATION_CLEANUP_STRATEGY.md
  .claude/SIMPLIFICATION_REVIEW.md
  packages/@atomiton/nodes/src/core/factories/createNodeExecutable.ts
  packages/@atomiton/nodes/src/core/types/executable.ts
  packages/@atomiton/nodes/src/executables/index.ts
Due: format, lint-fix, markdown-tables

feat(nodes): add simple node executable API alongside legacy for migration
  packages/@atomiton/nodes/src/core/factories/createNodeExecutable.ts
  packages/@atomiton/nodes/src/core/types/executable.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/executables/parallel/index.ts
Due: format, lint-fix

feat(conductor): implement orchestration with simple execution types
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/index.ts
  packages/@atomiton/conductor/src/integration/conductor.test.ts
  packages/@atomiton/conductor/src/types.ts
  packages/@atomiton/conductor/src/types/execution.ts
  packages/@atomiton/conductor/src/types/transport.ts
Due: format, lint-fix

Remove @atomiton/flow package entirely and implement clean flow handling
  apps/client/src/components/LayoutEditor/index.tsx
  examples/hello-world.yaml
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/components/Editor/EditorRoot.tsx
  packages/@atomiton/editor/src/hooks/useFlowToReactFlow.ts
  packages/@atomiton/editor/src/hooks/useReactFlowToFlow.ts
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/flow/README.md
  packages/@atomiton/flow/eslint.config.js
  packages/@atomiton/flow/package.json
  packages/@atomiton/flow/src/factories.test.ts
  packages/@atomiton/flow/src/factories.ts
  packages/@atomiton/flow/src/guards.test.ts
  packages/@atomiton/flow/src/guards.ts
  packages/@atomiton/flow/src/index.ts
  packages/@atomiton/flow/src/integration/api.test.ts
  packages/@atomiton/flow/src/types.ts
  packages/@atomiton/flow/src/utils/edgeOperations.ts
  packages/@atomiton/flow/src/utils/flowOperations.ts
  packages/@atomiton/flow/src/utils/functionalCore.ts
  packages/@atomiton/flow/src/utils/nodeOperations.ts
  packages/@atomiton/flow/tsconfig.json
  packages/@atomiton/flow/vite.config.ts
  packages/@atomiton/flow/vitest.config.ts
  packages/@atomiton/nodes/src/core/factories/createNodePorts.ts
  packages/@atomiton/storage/package.json
  packages/@atomiton/storage/src/flowStorage.ts
  packages/@atomiton/storage/src/index.ts
  packages/@atomiton/storage/src/types/file.ts
  packages/@atomiton/storage/src/types/flowFile.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat(rpc): clean @atomiton/rpc to be pure transport with zero business logic
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/handlers.ts
  packages/@atomiton/rpc/src/main/index.ts
  packages/@atomiton/rpc/src/preload/index.ts
  packages/@atomiton/rpc/src/renderer/index.ts
  packages/@atomiton/rpc/src/schemas/index.ts
  packages/@atomiton/rpc/src/shared/index.ts
  packages/@atomiton/rpc/src/shared/types.ts
  packages/@atomiton/rpc/src/trpc/context.ts
  packages/@atomiton/rpc/src/trpc/index.ts
  packages/@atomiton/rpc/src/trpc/router.ts
Due: format, lint-fix

remove files
  .claude/POST_MIGRATION_CLEANUP_STRATEGY.md
  apps/desktop/src/main/trpc/handler.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat: complete conductor integration and cleanup deprecated patterns
  apps/client/src/components/FlowList/index.tsx
  apps/client/src/components/LayoutEditor/index.tsx
  apps/client/src/components/RunFlow/index.tsx
  apps/client/src/components/Toolbar/index.tsx
  apps/client/src/hooks/useFlow.ts
  apps/client/src/lib/rpcTypes.ts
  apps/client/src/templates/DebugPage.tsx
  apps/desktop/src/preload/index.ts
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/conductor/src/types/execution.ts
  packages/@atomiton/conductor/src/types/transport.ts
Due: format, lint-fix

refactor: remove flow business logic from YAML package
  apps/desktop/src/main/procedures/storage.ts
Due: format, lint-fix

flow cleanup
  packages/@atomiton/yaml/package.json
  packages/@atomiton/yaml/src/flow.ts
  packages/@atomiton/yaml/src/index.ts
Due: format, lint-fix

feat: implement Node.js subpaths and consolidate configurations
  apps/desktop/electron.vite.config.ts
  apps/desktop/package.json
  apps/desktop/src/__tests__/setup/main-setup.ts
  apps/desktop/src/__tests__/test-setup.ts
  apps/desktop/src/integration/servicesErrorHandling.test.ts
  apps/desktop/src/integration/storage.test.ts
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/services/index.test.ts
  apps/desktop/src/main/services/index.ts
  apps/desktop/src/preload/index.ts
  apps/desktop/src/services.test.ts
  apps/desktop/tsconfig.json
  apps/desktop/tsconfig.node.json
  apps/desktop/tsconfig.web.json
  packages/@atomiton/conductor/src/desktop/ipc.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/conductor/src/types/index.ts
  packages/@atomiton/conductor/vite.config.ts
  packages/@atomiton/nodes/vite.config.ts
  packages/@atomiton/router/vitest.int.config.ts
Due: format, lint-fix

docs: add migration prompt to IPC architecture analysis
  .claude/IPC_ARCHITECTURE_ANALYSIS.md
Due: format, markdown-tables

refactor: remove TRPC from client and fix type errors
  apps/client/src/components/FlowList/index.tsx
  apps/client/src/components/Toolbar/index.tsx
  apps/client/src/hooks/useFlow.ts
  apps/client/src/hooks/useNodes.ts
  apps/client/src/lib/rpcTypes.ts
  apps/client/src/lib/trpc.ts
  turbo.json
Due: format, lint-fix

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,md,json,yml,yaml}
  lint-fix: any of: *.{ts,tsx,js,jsx}
  markdown-tables: any of: *.md
