Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables, preload-types

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true
  fail_text: ❌ Formatting failed

lint-fix:
  run: pnpm eslint --fix {staged_files}
  stage_fixed: true
  fail_text: ❌ Linting fixes failed

markdown-tables:
  run: npx markdown-table-prettify {staged_files}
  stage_fixed: true
  fail_text: ❌ Markdown table formatting failed

preload-types:
  run: 'echo "🔄 RPC types changed, regenerating preload types..."
  
    pnpm generate:preload-types
  
  
    echo "✅ Validating preload types..."
  
    pnpm validate:preload-types
  
  
    # Stage regenerated file if changed
  
    git add apps/desktop/src/preload/preload.d.ts
  
    '
  ...

fix(ui): properly define __dirname for ES module context
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(vite-config): preserve regex patterns in alias merging
  packages/@atomiton/vite-config/src/utils/merge.ts
Due: format, lint-fix

fix: resolve circular dependencies and dynamic import conflicts
  apps/client/src/App.tsx
  apps/client/src/components/Templates/index.tsx
  apps/client/src/router/routes.ts
  apps/desktop/src/main/services/channels.ts
Due: format, lint-fix

fix(ui): add explicit file extension resolution for CI builds
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): use relative imports in index files to avoid circular alias resolution
  packages/@atomiton/eslint-config/src/base.ts
  packages/@atomiton/ui/src/components/Column/index.ts
  packages/@atomiton/ui/src/components/Flex/index.ts
  packages/@atomiton/ui/src/components/Input/index.ts
  packages/@atomiton/ui/src/components/Row/index.ts
  packages/@atomiton/ui/src/hooks/index.ts
  packages/@atomiton/ui/src/primitives/index.ts
  packages/@atomiton/ui/src/system/index.ts
  packages/@atomiton/ui/src/test-utils/index.ts
  packages/@atomiton/ui/src/types/index.ts
  packages/@atomiton/ui/src/utils/index.ts
Due: format, lint-fix

fix(ui): use barrel exports for all primitives imports
  packages/@atomiton/ui/src/components/Input/Input.tsx
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.tsx
  packages/@atomiton/ui/src/index.ts
  packages/@atomiton/ui/src/primitives/index.ts
Due: format, lint-fix

fix(ui): use .js extensions in primitives index for cross-platform compatibility
  packages/@atomiton/ui/src/primitives/index.ts
Due: format, lint-fix

fix(ui): remove file extensions and simplify vite config for cross-platform compatibility
  packages/@atomiton/ui/src/primitives/index.ts
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): add back resolve.extensions for cross-platform compatibility
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): add @rollup/plugin-node-resolve for proper module resolution
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/vite.config.ts
  pnpm-lock.yaml
Due: format, lint-fix

fix(vite-config): properly merge rollupOptions.plugins array
  packages/@atomiton/vite-config/src/utils/merge.ts
Due: format, lint-fix

fix(ui): bypass primitives barrel export to avoid Rollup resolution issues
  packages/@atomiton/ui/src/components/Box/Box.tsx
  packages/@atomiton/ui/src/components/Button/Button.tsx
  packages/@atomiton/ui/src/components/Input/Input.tsx
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.tsx
  packages/@atomiton/ui/src/index.ts
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): use explicit Vite aliases instead of vite-tsconfig-paths
  packages/@atomiton/ui/src/components/Box/Box.tsx
  packages/@atomiton/ui/src/components/Button/Button.tsx
  packages/@atomiton/ui/src/components/Input/Input.tsx
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.tsx
  packages/@atomiton/ui/src/index.ts
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): add .js extensions to barrel export imports for Rollup compatibility
  packages/@atomiton/ui/src/primitives/index.ts
Due: format, lint-fix

fix(ui): use aliases in barrel export instead of relative imports
  packages/@atomiton/ui/src/primitives/index.ts
Due: format, lint-fix

fix(ui): add .tsx extension to primitive file aliases
  packages/@atomiton/ui/vite.config.ts
Due: format, lint-fix

fix(ui): rename primitive files to PascalCase for Linux compatibility
  packages/@atomiton/ui/src/primitives/Box.tsx
  packages/@atomiton/ui/src/primitives/Button.tsx
  packages/@atomiton/ui/src/primitives/Input.tsx
  packages/@atomiton/ui/src/primitives/JsonTreeView.tsx
Due: format, lint-fix

fix(rpc): add @atomiton/validation to external dependencies
  packages/@atomiton/rpc/vite.config.ts
Due: format, lint-fix

fix(rpc): add all missing workspace dependencies to external list
  packages/@atomiton/rpc/vite.config.ts
Due: format, lint-fix

fix(conductor): add missing @atomiton/vite-config devDependency
  packages/@atomiton/conductor/package.json
Due: format

chore: update lockfile for conductor vite-config dependency
  pnpm-lock.yaml
Due: format

fix(conductor): add missing @atomiton/store external dependency
  packages/@atomiton/conductor/vite.config.ts
Due: format, lint-fix

chore: add strict pnpm configuration to match CI behavior
  .npmrc
Due: none

fix(desktop): initialize PathManager in integration tests
  apps/desktop/src/integration/channels-progress-events.test.ts
  apps/desktop/src/integration/servicesErrorHandling.test.ts
  apps/desktop/src/integration/storage.test.ts
Due: format, lint-fix

fix(client): use canonical import path for useLink hook
  apps/client/src/components/Templates/index.tsx
Due: format, lint-fix

fix(ui): add @babel/runtime dependency for strict hoisting
  packages/@atomiton/ui/package.json
Due: format

chore: update lockfile for @babel/runtime dependency
  pnpm-lock.yaml
Due: format

fix: hoist @babel/runtime globally for strict mode compatibility
  .npmrc
Due: none

perf(ci): add Turborepo caching to GitHub Actions workflow
  .github/workflows/test.yml
Due: format

fix: hoist @lezer/highlight for CodeMirror compatibility
  .npmrc
Due: none

fix: resolve strict hoisting dependencies for build
  .npmrc
  apps/desktop/package.json
  pnpm-lock.yaml
Due: format

fix(deps): add tailwindcss dependency and hoist react packages
  .npmrc
  apps/client/package.json
  packages/@atomiton/ui/package.json
  pnpm-lock.yaml
Due: format

fix: add vitest coverage and workspace hoisting for strict mode
  .npmrc
Due: none

fix(utils): increase timing tolerance in delay test for CI
  packages/@atomiton/utils/src/delay.test.ts
Due: format, lint-fix

fix(conductor): increase performance test timeout for CI
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
Due: format, lint-fix

fix(conductor): relax progress assertion for flaky CI test
  packages/@atomiton/conductor/src/execution/asyncProgress.test.ts
Due: format, lint-fix

fix(ci): use turbo directly for cache-dir option
  .github/workflows/test.yml
Due: format

fix(rpc): remove conductor dependency to avoid circular deps
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
  pnpm-lock.yaml
Due: format, lint-fix

chore: update lockfile after removing conductor dependency from rpc
  pnpm-lock.yaml
Due: format

fix(ci): use pnpm exec turbo to ensure turbo command is available
  .github/workflows/test.yml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,md,json,yml,yaml}
  lint-fix: any of: *.{ts,tsx,js,jsx}
  markdown-tables: any of: *.md
  preload-types: any of: packages/@atomiton/rpc/src/shared/types.ts
