Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables

format:
  run: pnpm format
  stage_fixed: true
  fail_text: ❌ Formatting failed

lint-fix:
  run: pnpm lint:fix
  stage_fixed: true
  fail_text: ❌ Linting fixes failed

markdown-tables:
  run: npx markdown-table-prettify {staged_files}
  stage_fixed: true
  fail_text: ❌ Markdown table formatting failed

fix: correct test naming violations in @atomiton/editor
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/integration/editorHooks.test.tsx
  packages/@atomiton/editor/src/integration/nodeCreation.test.ts
  packages/@atomiton/editor/src/integration/nodeCreationEdgeCases.test.ts
  packages/@atomiton/editor/vitest.config.integration.ts
Due: format, lint-fix

refactor: improve e2e test architecture and remove redundancies
  apps/client/src/templates/DebugPage.tsx
  apps/e2e/src/app-loads.e2e.ts
  apps/e2e/src/debug-page-file-write.e2e.ts
  apps/e2e/src/debug-page-shared.e2e.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
Due: format, lint-fix

feat: implement channel-based IPC architecture for conductor integration
  apps/client/src/router/routes.ts
  apps/desktop/src/main/bootstrap.ts
  apps/desktop/src/main/registry/services.ts
  apps/desktop/src/main/security/csp.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/preload/index.ts
  apps/desktop/src/preload/preload.d.ts
  packages/@atomiton/conductor/src/desktop/ipc.ts
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/channels/createChannelServer.ts
  packages/@atomiton/rpc/src/main/channels/index.ts
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
  packages/@atomiton/rpc/src/main/channels/storageChannel.ts
  packages/@atomiton/rpc/src/main/channels/systemChannel.ts
  packages/@atomiton/rpc/src/renderer/createTransport.ts
  packages/@atomiton/rpc/src/renderer/index.ts
  packages/@atomiton/rpc/src/trpc/index.ts
  packages/@atomiton/rpc/vite.config.ts
  packages/@atomiton/utils/src/environment.ts
  packages/@atomiton/utils/src/index.ts
  pnpm-lock.yaml
Due: format, lint-fix

fix: remove unused error variable in ipc.ts
  packages/@atomiton/conductor/src/desktop/ipc.ts
Due: format, lint-fix

chore: remove deprecated IPC architecture analysis doc
  .claude/IPC_ARCHITECTURE_ANALYSIS.md
Due: format, markdown-tables

refactor: modularize browser conductor exports to fix 54 TypeScript any violations
  packages/@atomiton/conductor/src/exports/browser/authApi.ts
  packages/@atomiton/conductor/src/exports/browser/environment.ts
  packages/@atomiton/conductor/src/exports/browser/eventsApi.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/browser/nodeApi.ts
  packages/@atomiton/conductor/src/exports/browser/storageApi.ts
  packages/@atomiton/conductor/src/exports/browser/systemApi.ts
  packages/@atomiton/conductor/src/exports/browser/transport.ts
  packages/@atomiton/conductor/src/exports/browser/types.ts
Due: format, lint-fix

refactor: implement Karen's recommendations for browser conductor modules
  apps/desktop/src/preload/preload.d.ts
  docs/REVIEW_CHECKLIST.md
  packages/@atomiton/conductor/src/exports/browser/authApi.ts
  packages/@atomiton/conductor/src/exports/browser/nodeApi.ts
  packages/@atomiton/conductor/src/exports/browser/storageApi.ts
  packages/@atomiton/conductor/src/exports/browser/systemApi.ts
  packages/@atomiton/conductor/src/exports/browser/types.ts
Due: format, lint-fix, markdown-tables

feat: implement functional safe logging utility to prevent EIO errors during shutdown
  apps/desktop/src/main/bootstrap.ts
  apps/desktop/src/main/registry/services.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/main/utils/safeLogging.ts
  apps/desktop/src/preload/index.ts
Due: format, lint-fix

refactor: simplify health check to ping-pong IPC connectivity test
  apps/client/src/templates/DebugPage/hooks/useAuthOperations.ts
  apps/client/src/templates/DebugPage/hooks/useEnvironment.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeOperations.ts
  apps/client/src/templates/DebugPage/hooks/useSystemOperations.ts
  apps/client/src/templates/DebugPage/index.tsx
  apps/e2e/src/debug-page-file-write.e2e.ts
  apps/e2e/src/debug-page-shared.e2e.ts
  packages/@atomiton/rpc/src/main/channels/systemChannel.ts
Due: format, lint-fix

feat: consolidate node parameter handling and improve type safety
  apps/client/src/templates/DebugPage.tsx
  apps/desktop/src/preload/index.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/browser/transport.ts
  packages/@atomiton/editor/src/utils/node/creation.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/nodes/src/core/factories/createNodeDefinition.ts
  packages/@atomiton/nodes/src/core/factories/createNodeParameters.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/core/types/parameters.ts
  packages/@atomiton/nodes/src/core/utils/nodeUtils.ts
  packages/@atomiton/nodes/src/definitions/code/index.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/index.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/index.ts
  packages/@atomiton/nodes/src/definitions/file-system/index.ts
  packages/@atomiton/nodes/src/definitions/group/index.ts
  packages/@atomiton/nodes/src/definitions/http-request/index.ts
  packages/@atomiton/nodes/src/definitions/image-composite/index.ts
  packages/@atomiton/nodes/src/definitions/loop/index.ts
  packages/@atomiton/nodes/src/definitions/parallel/index.ts
  packages/@atomiton/nodes/src/definitions/shell-command/index.ts
  packages/@atomiton/nodes/src/definitions/transform/index.ts
  packages/@atomiton/nodes/src/serialization/fromYaml.ts
  packages/@atomiton/nodes/src/serialization/toYaml.ts
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
Due: format, lint-fix

refactor: implement lazy initialization for store and clean up package exports
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/conductor/src/index.ts
  packages/@atomiton/conductor/src/integration/conductor.test.ts
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/hooks/package.json
  packages/@atomiton/nodes/src/core/factories/createNodeMetadata.ts
  packages/@atomiton/nodes/src/core/factories/createNodePorts.ts
  packages/@atomiton/nodes/src/core/types/definition.ts
  packages/@atomiton/nodes/src/definitions/index.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/serialization/fromYaml.ts
  packages/@atomiton/nodes/src/serialization/validators.ts
  packages/@atomiton/router/package.json
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/renderer/index.ts
  packages/@atomiton/rpc/src/shared/index.ts
  packages/@atomiton/rpc/src/trpc/index.ts
  packages/@atomiton/storage/package.json
  packages/@atomiton/storage/src/exports/browser/index.ts
  packages/@atomiton/storage/src/exports/desktop/index.ts
  packages/@atomiton/storage/src/index.ts
  packages/@atomiton/store/package.json
  packages/@atomiton/store/src/index.ts
  packages/@atomiton/ui/package.json
  packages/@atomiton/utils/package.json
  packages/@atomiton/utils/src/index.ts
  packages/@atomiton/utils/src/integration/contract.test.ts
  packages/@atomiton/validation/package.json
  packages/@atomiton/yaml/package.json
  packages/@atomiton/yaml/src/index.ts
Due: format, lint-fix

docs: apply store improvements and lefthook optimization
  lefthook.yml
  packages/@atomiton/store/package.json
  packages/@atomiton/store/src/index.ts
  packages/@atomiton/store/src/store.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint-fix

fix: resolve IPC response unwrapping and conductor singleton issues
  apps/client/src/lib/conductor/index.ts
  apps/client/src/templates/DebugPage/index.tsx
  apps/client/src/templates/DebugPage/store.ts
  packages/@atomiton/rpc/src/renderer/createTransport.ts
Due: format, lint-fix

fix: update integration tests to match current parameter structure
  packages/@atomiton/editor/src/integration/nodeCreationEdgeCases.test.ts
  packages/@atomiton/nodes/package.json
Due: format, lint-fix

refactor: migrate to window.atomiton namespace and improve IPC architecture
  apps/client/src/main.tsx
  apps/desktop/src/main/registry/services.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/preload/index.ts
  apps/desktop/src/preload/preload.d.ts
  docs/REVIEW_CHECKLIST.md
  lefthook.yml
  package.json
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/desktop/ipc.ts
  packages/@atomiton/conductor/src/exports/browser/authApi.ts
  packages/@atomiton/conductor/src/exports/browser/environment.ts
  packages/@atomiton/conductor/src/exports/browser/eventsApi.ts
  packages/@atomiton/conductor/src/exports/browser/nodeApi.ts
  packages/@atomiton/conductor/src/exports/browser/storageApi.ts
  packages/@atomiton/conductor/src/exports/browser/systemApi.ts
  packages/@atomiton/conductor/src/exports/browser/transport.ts
  packages/@atomiton/conductor/src/exports/browser/types.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/conductor/vite.config.ts
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
  packages/@atomiton/rpc/src/main/handlers.ts
  packages/@atomiton/rpc/src/main/index.ts
  packages/@atomiton/rpc/src/renderer/index.ts
  packages/@atomiton/rpc/src/shared/index.ts
  packages/@atomiton/rpc/src/shared/types.ts
  pnpm-lock.yaml
  scripts/generate-preload-types.ts
  scripts/validate-preload-types.ts
  turbo.json
Due: format, lint-fix, markdown-tables

chore: comprehensive dependency cleanup and workspace standardization
  apps/client/package.json
  apps/desktop/package.json
  apps/e2e/package.json
  knip.json
  package.json
  packages/@atomiton/conductor/package.json
  packages/@atomiton/editor/package.json
  packages/@atomiton/eslint-config/package.json
  packages/@atomiton/hooks/package.json
  packages/@atomiton/nodes/package.json
  packages/@atomiton/router/package.json
  packages/@atomiton/rpc/package.json
  packages/@atomiton/storage/package.json
  packages/@atomiton/store/package.json
  packages/@atomiton/typescript-config/tsconfig.json
  packages/@atomiton/ui/package.json
  packages/@atomiton/utils/package.json
  packages/@atomiton/validation/package.json
  packages/@atomiton/vite-config/package.json
  packages/@atomiton/yaml/package.json
  pnpm-lock.yaml
  turbo.json
Due: format

feat(logger): add centralized logging package with comprehensive tests
  apps/desktop/electron.vite.config.ts
  apps/desktop/package.json
  apps/desktop/src/main/bootstrap.ts
  apps/desktop/src/main/registry/services.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/main/utils/safeLogging.ts
  docs/development/PACKAGE_CREATION_GUIDE.md
  packages/@atomiton/logger/eslint.config.js
  packages/@atomiton/logger/package.json
  packages/@atomiton/logger/src/exports/browser/index.ts
  packages/@atomiton/logger/src/exports/desktop/index.ts
  packages/@atomiton/logger/src/exports/shared/index.ts
  packages/@atomiton/logger/src/exports/shared/types.ts
  packages/@atomiton/logger/src/index.ts
  packages/@atomiton/logger/src/integration/browser-logger.test.ts
  packages/@atomiton/logger/src/integration/desktop-logger.test.ts
  packages/@atomiton/logger/src/integration/types.test.ts
  packages/@atomiton/logger/tsconfig.json
  packages/@atomiton/logger/vite.config.ts
  packages/@atomiton/rpc/src/main/channels/index.ts
  packages/@atomiton/rpc/src/main/channels/loggerChannel.ts
  packages/@atomiton/rpc/src/renderer/index.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

refactor: improve sidebar components and navigation
  apps/client/src/components/Layout/Sidebar/Dropdown/index.tsx
  apps/client/src/components/Layout/Sidebar/NavLink/index.tsx
  apps/client/src/components/Layout/Sidebar/index.tsx
  apps/client/src/templates/DebugPage/DebugLayout.tsx
  apps/client/src/templates/DebugPage/pages/EnvironmentPage.tsx
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/src/App.tsx
  packages/@atomiton/ui/src/components/HomeSidebar/Dropdown/index.tsx
  packages/@atomiton/ui/src/components/HomeSidebar/NavLink/index.tsx
  packages/@atomiton/ui/src/components/HomeSidebar/index.tsx
  packages/@atomiton/ui/src/components/HomeSidebar/navigation.ts
  pnpm-lock.yaml
Due: format, lint-fix

refactor: improve NodeFieldRenderer and TextField type handling
  .claude/settings.json
  apps/client/src/components/NodeFieldRenderer/NodeFieldRenderer.tsx
  apps/client/src/components/NodeFieldRenderer/fields/TextField.tsx
Due: format, lint-fix

refactor: migrate SelectField to composition-based Select component
  apps/client/src/components/NodeFieldRenderer/NodeFieldRenderer.tsx
  apps/client/src/components/NodeFieldRenderer/fields/SelectField.tsx
Due: format, lint-fix

feat(ui): add JsonTreeView component for interactive JSON visualization
  apps/client/src/templates/DebugPage/pages/EnvironmentPage.tsx
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.tsx
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.types.ts
  packages/@atomiton/ui/src/components/JsonTreeView/index.tsx
  packages/@atomiton/ui/src/index.ts
  packages/@atomiton/ui/src/primitives/index.ts
  packages/@atomiton/ui/src/primitives/jsonTreeView.tsx
  pnpm-lock.yaml
Due: format, lint-fix

feat(ui): add CodeInput primitive with CodeMirror 6 integration
  apps/client/src/components/NodeFieldRenderer/fields/CodeField.tsx
  packages/@atomiton/ui/package.json
  packages/@atomiton/ui/src/components/Input/Input.tsx
  packages/@atomiton/ui/src/components/JsonTreeView/JsonTreeView.tsx
  packages/@atomiton/ui/src/index.ts
  packages/@atomiton/ui/src/primitives/CodeInput.tsx
  packages/@atomiton/ui/src/primitives/index.ts
  pnpm-lock.yaml
Due: format, lint-fix

refactor(nodes): simplify schemas from 76 to 36 fields for MVP
  packages/@atomiton/nodes/README.md
  packages/@atomiton/nodes/src/definitions/code/fields.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/index.ts
  packages/@atomiton/nodes/src/definitions/file-system/fields.ts
  packages/@atomiton/nodes/src/definitions/http-request/fields.ts
  packages/@atomiton/nodes/src/definitions/image-composite/fields.ts
  packages/@atomiton/nodes/src/definitions/loop/fields.ts
  packages/@atomiton/nodes/src/definitions/shell-command/fields.ts
  packages/@atomiton/nodes/src/definitions/transform/fields.ts
  packages/@atomiton/nodes/src/executables/code/index.ts
  packages/@atomiton/nodes/src/executables/csv-reader/index.ts
  packages/@atomiton/nodes/src/executables/file-system/index.ts
  packages/@atomiton/nodes/src/executables/http-request/index.ts
  packages/@atomiton/nodes/src/executables/http-request/operations.ts
  packages/@atomiton/nodes/src/executables/image-composite/index.ts
  packages/@atomiton/nodes/src/executables/image-composite/operations.ts
  packages/@atomiton/nodes/src/executables/loop/baseExecutor.ts
  packages/@atomiton/nodes/src/executables/loop/index.ts
  packages/@atomiton/nodes/src/executables/loop/operations.ts
  packages/@atomiton/nodes/src/executables/shell-command/index.ts
  packages/@atomiton/nodes/src/executables/transform/operations.ts
  packages/@atomiton/nodes/src/schemas/code/index.ts
  packages/@atomiton/nodes/src/schemas/csv-reader/index.ts
  packages/@atomiton/nodes/src/schemas/file-system/index.ts
  packages/@atomiton/nodes/src/schemas/http-request/index.ts
  packages/@atomiton/nodes/src/schemas/image-composite/index.ts
  packages/@atomiton/nodes/src/schemas/loop/index.ts
  packages/@atomiton/nodes/src/schemas/shell-command/index.ts
  packages/@atomiton/nodes/src/schemas/transform/index.ts
Due: format, lint-fix, markdown-tables

fix(client): dropdown active state now honors selected children
  apps/client/src/components/Layout/Sidebar/Dropdown/index.tsx
Due: format, lint-fix

refactor(nodes): unify field configs with schema auto-derivation
  apps/client/src/components/Layout/Sidebar/index.tsx
  apps/client/src/router/routes.ts
  apps/client/src/templates/DebugPage/components/ConductorStatusIndicator.tsx
  apps/client/src/templates/DebugPage/components/HealthStatusIndicator.tsx
  apps/client/src/templates/DebugPage/hooks/useAuthOperations.ts
  apps/client/src/templates/DebugPage/hooks/useNodeOperations.ts
  apps/client/src/templates/DebugPage/pages/AuthPage.tsx
  apps/client/src/templates/DebugPage/pages/EnvironmentPage.tsx
  apps/client/src/templates/DebugPage/pages/SystemPage.tsx
  apps/client/src/utils/fieldConfigOverrides.ts
  apps/client/src/utils/schemaToFieldConfig.ts
  packages/@atomiton/nodes/src/core/utils/createFieldsFromSchema.test.ts
  packages/@atomiton/nodes/src/core/utils/createFieldsFromSchema.ts
  packages/@atomiton/nodes/src/core/utils/index.ts
  packages/@atomiton/nodes/src/definitions/code/fields.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/fields.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/index.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/fields.ts
  packages/@atomiton/nodes/src/definitions/file-system/fields.ts
  packages/@atomiton/nodes/src/definitions/http-request/fields.ts
  packages/@atomiton/nodes/src/definitions/image-composite/fields.ts
  packages/@atomiton/nodes/src/definitions/loop/fields.ts
  packages/@atomiton/nodes/src/definitions/shell-command/fields.ts
  packages/@atomiton/nodes/src/definitions/transform/fields.ts
  packages/@atomiton/nodes/src/integration/code-fields.test.ts
  packages/@atomiton/nodes/src/integration/csv-reader-fields.test.ts
  packages/@atomiton/nodes/src/integration/edit-fields-fields.test.ts
  packages/@atomiton/nodes/src/integration/file-system-fields.test.ts
  packages/@atomiton/nodes/src/integration/http-request-fields.test.ts
  packages/@atomiton/nodes/src/integration/image-composite-fields.test.ts
  packages/@atomiton/nodes/src/integration/loop-fields.test.ts
  packages/@atomiton/nodes/src/integration/shell-command-fields.test.ts
  packages/@atomiton/nodes/src/integration/transform-fields.test.ts
Due: format, lint-fix

docs(nodes): add field auto-derivation improvements
  .claude/ARCHITECTURE.md
  packages/@atomiton/nodes/src/core/utils/createFieldsFromSchema.ts
Due: format, lint-fix, markdown-tables

refactor(client): simplify Debug page with Bento Box components
  apps/client/src/templates/DebugPage/components/ConductorStatusIndicator.tsx
  apps/client/src/templates/DebugPage/components/HealthStatusIndicator.tsx
  apps/client/src/templates/DebugPage/components/RestartSystemButton.tsx
  apps/client/src/templates/DebugPage/hooks/useEnvironment.ts
  apps/client/src/templates/DebugPage/hooks/useSystemOperations.ts
  apps/client/src/templates/DebugPage/pages/EnvironmentPage.tsx
Due: format, lint-fix

refactor(client): simplify NodesPage with component extraction
  apps/client/src/templates/DebugPage/components/NodeActionButtons.tsx
  apps/client/src/templates/DebugPage/components/NodeTypeSelector.tsx
  apps/client/src/templates/DebugPage/hooks/useEnvironment.ts
  apps/client/src/templates/DebugPage/pages/NodesPage.tsx
Due: format, lint-fix

refactor(client): use Select component in NodeTypeSelector
  apps/client/src/components/NodeFieldRenderer/index.ts
  apps/client/src/templates/DebugPage/components/NodeTypeSelector.tsx
Due: format, lint-fix

refactor(e2e): optimize tests and remove code node
  apps/client/src/components/form/Select/SelectTrigger.tsx
  apps/e2e/src/debug-page-file-write.e2e.ts
  apps/e2e/src/debug-page-nodes.e2e.ts
  apps/e2e/src/debug-page-shared.e2e.ts
  apps/e2e/src/debug-page.e2e.ts
  apps/e2e/src/fixtures/test-nodes.ts
  apps/e2e/src/nodes/debug-node-file-system.e2e.ts
  apps/e2e/src/nodes/debug-node-http-request.e2e.ts
  packages/@atomiton/editor/src/integration/nodeCreation.test.ts
  packages/@atomiton/nodes/src/definitions/code/fields.ts
  packages/@atomiton/nodes/src/definitions/code/index.ts
  packages/@atomiton/nodes/src/definitions/code/ports.ts
  packages/@atomiton/nodes/src/definitions/index.ts
  packages/@atomiton/nodes/src/definitions/registry.ts
  packages/@atomiton/nodes/src/executables/code/index.ts
  packages/@atomiton/nodes/src/executables/code/utils.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/executables/registry.ts
  packages/@atomiton/nodes/src/integration/code-fields.test.ts
  packages/@atomiton/nodes/src/integration/http-request-fields.test.ts
  packages/@atomiton/nodes/src/schemas/code/index.ts
  packages/@atomiton/nodes/src/schemas/http-request/index.ts
  packages/@atomiton/nodes/src/schemas/index.ts
  packages/@atomiton/nodes/src/schemas/registry.ts
  packages/@atomiton/validation/src/index.ts
  packages/@atomiton/validation/src/json-coercion.test.ts
  packages/@atomiton/validation/src/json-coercion.ts
  packages/@atomiton/validation/src/validation.test.ts
Due: format, lint-fix

feat(nodes): implement secure shell-command node execution
  apps/e2e/src/nodes/debug-node-shell-command.e2e.ts
  packages/@atomiton/nodes/src/definitions/shell-command/fields.ts
  packages/@atomiton/nodes/src/definitions/shell-command/index.ts
  packages/@atomiton/nodes/src/executables/shell-command/executor.ts
  packages/@atomiton/nodes/src/executables/shell-command/index.ts
  packages/@atomiton/nodes/src/executables/shell-command/output.ts
  packages/@atomiton/nodes/src/integration/shell-command-fields.test.ts
  packages/@atomiton/nodes/src/schemas/shell-command/index.ts
Due: format, lint-fix

fix(e2e): resolve test timeout by changing waitUntil strategy
  .vscode/tasks.json
  apps/client/src/utils/errorReporting.test.ts
  apps/desktop/src/integration/servicesErrorHandling.test.ts
  apps/desktop/src/integration/storage.test.ts
  apps/desktop/src/services.test.ts
  apps/e2e/playwright.config.ts
  apps/e2e/src/debug-page.e2e.ts
  apps/e2e/src/nodes/debug-node-http-request.e2e.ts
  apps/e2e/src/nodes/debug-node-spreadsheet.e2e.ts
  apps/e2e/src/test-http-server.ts
  apps/e2e/test-data/spreadsheets/create-test-xlsx.js
  apps/e2e/test-data/spreadsheets/test-data-no-headers.xlsx
  apps/e2e/test-data/spreadsheets/test-data-tab.tsv
  apps/e2e/test-data/spreadsheets/test-data.csv
  apps/e2e/test-data/spreadsheets/test-data.ods
  apps/e2e/test-data/spreadsheets/test-data.xlsx
  package.json
  packages/@atomiton/conductor/src/integration/conductor.test.ts
  packages/@atomiton/editor/src/index.test.ts
  packages/@atomiton/editor/src/utils/node/creation.test.ts
  packages/@atomiton/hooks/src/useDidMount.test.ts
  packages/@atomiton/hooks/src/useEventCallback.test.ts
  packages/@atomiton/hooks/src/useHover.test.ts
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/src/definitions/index.ts
  packages/@atomiton/nodes/src/definitions/registry.ts
  packages/@atomiton/nodes/src/definitions/spreadsheet/fields.ts
  packages/@atomiton/nodes/src/definitions/spreadsheet/index.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/executables/registry.ts
  packages/@atomiton/nodes/src/executables/spreadsheet/index.ts
  packages/@atomiton/nodes/src/integration/spreadsheet-fields.test.ts
  packages/@atomiton/nodes/src/schemas/index.ts
  packages/@atomiton/nodes/src/schemas/registry.ts
  packages/@atomiton/nodes/src/schemas/spreadsheet/index.ts
  packages/@atomiton/router/src/integration/router.test.tsx
  packages/@atomiton/ui/src/system/utils/buildClassName.test.ts
  pnpm-lock.yaml
Due: format, lint-fix

refactor(e2e): rename create-test-xlsx.js to .ts
  apps/e2e/test-data/spreadsheets/create-test-xlsx.ts
Due: format, lint-fix

feat(nodes): implement jsonString schema coercion for edit-fields node
  apps/e2e/src/nodes/debug-node-edit-fields.e2e.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/fields.ts
  packages/@atomiton/nodes/src/integration/edit-fields-executable.test.ts
  packages/@atomiton/nodes/src/integration/edit-fields-fields.test.ts
  packages/@atomiton/nodes/src/schemas/edit-fields/index.ts
Due: format, lint-fix

refactor: clean up e2e tests and remove csv-reader node
  apps/e2e/global-setup.ts
  apps/e2e/src/debug-page.e2e.ts
  apps/e2e/src/fixtures/electron.ts
  apps/e2e/src/helpers/electron.ts
  apps/e2e/src/nodes/debug-node-edit-fields.e2e.ts
  apps/e2e/src/pages/base-page.ts
  apps/e2e/src/pages/create-page.ts
  apps/e2e/src/pages/editor-page.ts
  apps/e2e/src/pages/explore-page.ts
  apps/e2e/src/pages/home-page.ts
  apps/e2e/src/pages/index.ts
  apps/e2e/src/pages/my-scenes-page.ts
  apps/e2e/src/pages/profile-page.ts
  apps/e2e/src/pages/sign-in-page.ts
  apps/e2e/src/utils/editor.utils.ts
  apps/e2e/src/utils/index.ts
  apps/e2e/src/utils/navigation.utils.ts
  apps/e2e/src/utils/test-helpers.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/fields.ts
  packages/@atomiton/nodes/src/definitions/csv-reader/index.ts
  packages/@atomiton/nodes/src/definitions/index.ts
  packages/@atomiton/nodes/src/definitions/registry.ts
  packages/@atomiton/nodes/src/executables/csv-reader/index.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/executables/registry.ts
  packages/@atomiton/nodes/src/integration/csv-reader-fields.test.ts
  packages/@atomiton/nodes/src/integration/file-system-fields.test.ts
  packages/@atomiton/nodes/src/integration/image-composite-fields.test.ts
  packages/@atomiton/nodes/src/integration/loop-fields.test.ts
  packages/@atomiton/nodes/src/integration/spreadsheet-fields.test.ts
  packages/@atomiton/nodes/src/integration/transform-fields.test.ts
  packages/@atomiton/nodes/src/schemas/csv-reader/index.ts
  packages/@atomiton/nodes/src/schemas/index.ts
  packages/@atomiton/nodes/src/schemas/registry.ts
Due: format, lint-fix

refactor(nodes): migrate edit-fields from Handlebars to Squirrelly
  apps/e2e/src/nodes/debug-node-edit-fields.e2e.ts
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/src/executables/edit-fields/index.ts
  packages/@atomiton/nodes/src/integration/edit-fields-executable.test.ts
  packages/@atomiton/nodes/vite.config.ts
  pnpm-lock.yaml
Due: format, lint-fix

chore: optimize git hooks to test only affected packages
  lefthook.yml
Due: format

fix(e2e): eliminate flaky tests by replacing reload with navigation
  apps/e2e/global-setup.ts
  apps/e2e/src/debug-page.e2e.ts
  apps/e2e/src/fixtures/electron.ts
  apps/e2e/src/nodes/debug-node-edit-fields.e2e.ts
  apps/e2e/src/nodes/debug-node-file-system.e2e.ts
  apps/e2e/src/nodes/debug-node-http-request.e2e.ts
  apps/e2e/src/nodes/debug-node-shell-command.e2e.ts
  apps/e2e/src/nodes/debug-node-spreadsheet.e2e.ts
  apps/e2e/src/utils/test-helpers.ts
Due: format, lint-fix

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,md,json,yml,yaml}
  lint-fix: any of: *.{ts,tsx,js,jsx}
  markdown-tables: any of: *.md
