Repository Develonaut/atomiton: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint-fix, markdown-tables

lefthook.yml:

# Lefthook configuration for Atomiton monorepo
# https://github.com/evilmartians/lefthook

# Set environment variable to indicate running in git hooks (affects headless mode, dev tools, etc.)
env:
  LEFTHOOK: "1"

# Fast pre-commit hooks - catches 95% of issues in ~15-30s
pre-commit:
  parallel: true
  commands:
    # Format staged files with Prettier
    format:
      glob: "*.{ts,tsx,js,jsx,md,json,yml,yaml}"
      run: pnpm format
      stage_fixed: true
      fail_text: "❌ Formatting failed"

    # Fix linting issues on staged TypeScript/JavaScript files
    lint-fix:
      glob: "*.{ts,tsx,js,jsx}"
      run: pnpm lint:fix
      stage_fixed: true
      fail_text: "❌ Linting fixes failed"

    # Format markdown tables in staged markdown files
    markdown-tables:
      glob: "*.md"
      run: npx markdown-table-prettify {staged_files}
      stage_fixed: true
      fail_text: "❌ Markdown table formatting failed"

    # Type check all packages (turbo cached, very fast)
    type-check:
      run: |
        echo "🔍 Type checking all packages..."
        pnpm typecheck
      fail_text: "❌ Type check failed - please fix TypeScript errors"

    # Unit tests (turbo cached, catches logic errors early)
    unit-tests:
      run: |
        echo "🧪 Running unit tests..."
        pnpm test
      fail_text: "❌ Unit tests failed - please fix failing tests"

    # Build verification (turbo cached, catches build errors early)
    build-check:
      run: |
        echo "🏗️ Verifying build integrity..."
        pnpm build
      fail_text: "❌ Build failed - please fix build errors"


# Comprehensive pre-push hooks - runs ~2-5min before sharing code
pre-push:
  parallel: true
  commands:
    # Integration tests (tests package interactions)
    integration-tests:
      run: |
        echo "🎭 Running integration tests..."
        pnpm test:integration
      fail_text: "❌ Integration tests failed"

    # E2E tests (tests full user flows, headless by default)
    e2e-tests:
      run: |
        echo "🌐 Running end-to-end tests (headless)..."
        pnpm test:e2e
      fail_text: "❌ E2E tests failed"

# Skip options for cleaner output
skip_output:
  - meta
  - summary

test(nodes): add comprehensive tests for group and parallel nodes
  apps/e2e/src/nodes/debug-node-group.e2e.ts
  apps/e2e/src/nodes/debug-node-parallel.e2e.ts
  packages/@atomiton/nodes/src/integration/group-fields.test.ts
  packages/@atomiton/nodes/src/integration/parallel-fields.test.ts
Due: format, lint-fix

fix(ui): normalize whitespace in buildClassName utility
  packages/@atomiton/ui/src/system/utils/buildClassname.ts
Due: format, lint-fix

chore: apply prettier formatting to staged files
  .claude/ARCHITECTURE.md
  apps/client/src/templates/DebugPage/components/ConductorStatusIndicator.tsx
  apps/client/src/templates/DebugPage/components/HealthStatusIndicator.tsx
  apps/client/src/templates/DebugPage/components/NodeTypeSelector.tsx
  apps/client/src/templates/DebugPage/hooks/useEnvironment.ts
  apps/client/src/templates/DebugPage/pages/EnvironmentPage.tsx
  apps/e2e/src/utils/test-helpers.ts
Due: format, lint-fix, markdown-tables

chore: simplify git hooks - remove complex filtering
  lefthook.yml
Due: format

refactor(rpc): remove unused TRPC infrastructure and deprecated handlers
  packages/@atomiton/rpc/package.json
  packages/@atomiton/rpc/src/main/handlers.ts
  packages/@atomiton/rpc/src/main/index.ts
  packages/@atomiton/rpc/src/trpc/context.ts
  packages/@atomiton/rpc/src/trpc/index.ts
  packages/@atomiton/rpc/src/trpc/router.ts
  pnpm-lock.yaml
Due: format, lint-fix

refactor: migrate to new conductor API and remove deprecated methods
  apps/client/src/components/Toolbar/index.tsx
  apps/client/src/templates/DebugPage/hooks/useSystemOperations.ts
  apps/desktop/src/main/bootstrap.ts
  apps/desktop/src/main/services/channels.ts
  apps/desktop/src/main/services/execution.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
Due: format, lint-fix

feat: enhance transform node with all 11 operations and comprehensive testing
  apps/client/src/templates/DebugPage/fixtures/smoke-tests/transform.ts
  apps/e2e/src/nodes/smoke-test-transform.e2e.ts
  docs/nodes/transform.md
  packages/@atomiton/nodes/src/definitions/transform/fields.ts
  packages/@atomiton/nodes/src/executables/spreadsheet/fileReader.ts
  packages/@atomiton/nodes/src/executables/spreadsheet/index.ts
  packages/@atomiton/nodes/src/executables/transform/index.ts
  packages/@atomiton/nodes/src/executables/transform/operations.ts
  packages/@atomiton/nodes/src/integration/transform-fields.test.ts
  packages/@atomiton/nodes/src/schemas/transform/index.ts
Due: format, lint-fix, markdown-tables

docs: comprehensive node documentation and strategy cleanup
  IPC_IMPLEMENTATION_PLAN.md
  README.md
  apps/e2e/src/fixtures/test-nodes.ts
  docs/nodes/INDEX.md
  docs/nodes/README.md
  docs/nodes/edit-fields.md
  docs/nodes/file-system.md
  docs/nodes/group.md
  docs/nodes/http-request.md
  docs/nodes/image-composite.md
  docs/nodes/loop.md
  docs/nodes/parallel.md
  docs/nodes/shell-command.md
  docs/nodes/spreadsheet.md
  docs/strategies/COMPONENT_MAPPING.md
  docs/strategies/FORM_PACKAGE_STRATEGY.md
  docs/strategies/NAMING_CONSISTENCY_STRATEGY.md
  docs/strategies/NODE_EXECUTION_STRATEGY.md
  docs/strategies/NODE_PACKAGE_SEPARATION.md
  docs/strategies/SECURE_TOKEN_STORAGE_STRATEGY.md
  docs/strategies/THEME_STANDARDIZATION.md
  docs/strategies/examples/implementation-guide.md
  docs/strategies/examples/package-json-configs.md
  docs/strategies/examples/vite-configs.md
Due: format, lint-fix, markdown-tables

fix(e2e): correct transform smoke test count from 23 to 22
  apps/e2e/src/nodes/smoke-test-transform.e2e.ts
Due: format, lint-fix

fix(e2e): correct result structure paths in transform smoke tests
  apps/e2e/src/nodes/smoke-test-transform.e2e.ts
Due: format, lint-fix

fix: eliminate data.data double-nesting and fix flaky E2E tests
  .env.example
  apps/client/src/templates/DebugPage/fixtures/smoke-tests/http-request.ts
  apps/client/vite.config.ts
  apps/e2e/package.json
  apps/e2e/playwright.config.ts
  apps/e2e/src/nodes/smoke-test-edit-fields.e2e.ts
  apps/e2e/src/nodes/smoke-test-file-system.e2e.ts
  apps/e2e/src/nodes/smoke-test-http-request.e2e.ts
  apps/e2e/src/nodes/smoke-test-transform.e2e.ts
  packages/@atomiton/nodes/src/executables/edit-fields/index.ts
  packages/@atomiton/nodes/src/executables/http-request/index.ts
  packages/@atomiton/nodes/src/executables/transform/helpers.ts
  packages/@atomiton/nodes/src/executables/transform/utils.ts
  packages/@atomiton/nodes/src/integration/edit-fields-executable.test.ts
  pnpm-lock.yaml
Due: format, lint-fix

feat(e2e): add test images for image-composite smoke tests
  apps/e2e/test-data/images/README.md
  apps/e2e/test-data/images/sample-photo.png
  apps/e2e/test-data/images/sample-thumbnail.png
Due: format, markdown-tables

refactor: rename image-composite node to image
  apps/client/src/templates/DebugPage/fixtures/smoke-tests/image.ts
  apps/client/src/templates/DebugPage/fixtures/smoke-tests/index.ts
  apps/e2e/package.json
  apps/e2e/src/nodes/smoke-test-image.e2e.ts
  docs/nodes/INDEX.md
  docs/nodes/image.md
  packages/@atomiton/nodes/README.md
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/src/core/types/metadata.ts
  packages/@atomiton/nodes/src/definitions/image-composite/fields.ts
  packages/@atomiton/nodes/src/definitions/image/fields.ts
  packages/@atomiton/nodes/src/definitions/image/index.ts
  packages/@atomiton/nodes/src/definitions/image/ports.ts
  packages/@atomiton/nodes/src/definitions/index.ts
  packages/@atomiton/nodes/src/definitions/registry.ts
  packages/@atomiton/nodes/src/executables/image-composite/index.ts
  packages/@atomiton/nodes/src/executables/image-composite/operations.ts
  packages/@atomiton/nodes/src/executables/image/index.ts
  packages/@atomiton/nodes/src/executables/image/operations.ts
  packages/@atomiton/nodes/src/executables/image/sharp-adapters.ts
  packages/@atomiton/nodes/src/executables/image/utils.ts
  packages/@atomiton/nodes/src/executables/index.ts
  packages/@atomiton/nodes/src/executables/registry.ts
  packages/@atomiton/nodes/src/integration/image-fields.test.ts
  packages/@atomiton/nodes/src/integration/image-sharp.test.ts
  packages/@atomiton/nodes/src/schemas/image-composite/index.ts
  packages/@atomiton/nodes/src/schemas/image/index.ts
  packages/@atomiton/nodes/src/schemas/index.ts
  packages/@atomiton/nodes/src/schemas/node/metadata.ts
  packages/@atomiton/nodes/src/schemas/registry.ts
  packages/@atomiton/nodes/src/serialization/validators.ts
  packages/@atomiton/nodes/src/templates/yaml/image-processor.yaml
  packages/@atomiton/ui/src/components/Icon/index.tsx
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

fix: standardize hello-world.yaml to proper NodeDefinition structure
  .claude/strategies/FLOW_EXECUTION_STRATEGY.md
  packages/@atomiton/nodes/src/templates/yaml/hello-world.yaml
Due: format, markdown-tables

chore: optimize git hooks and improve test reliability
  apps/e2e/playwright.config.ts
  lefthook.yml
Due: format, lint-fix

fix yaml
  lefthook.yml
  packages/@atomiton/nodes/src/templates/yaml/data-transform.yaml
Due: format

fix: standardize image-processor.yaml to proper NodeDefinition structure
  packages/@atomiton/nodes/src/templates/yaml/image-processor.yaml
Due: format

feat: implement flow template loading system
  apps/desktop/src/main/services/channels.ts
  packages/@atomiton/conductor/src/exports/browser/flow.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/src/templates/flows/index.ts
  packages/@atomiton/nodes/vite.config.ts
  packages/@atomiton/rpc/src/main/channels/flowChannel.ts
  packages/@atomiton/rpc/src/main/channels/index.ts
Due: format, lint-fix

refactor: rename templates/yaml to templates/flows with .flow.yaml extension
  .claude/agents/Barbara.md
  .claude/agents/Brian.md
  .claude/agents/Guilliman.md
  .claude/agents/Jeeves.md
  .claude/agents/Karen.md
  .claude/agents/Megamind.md
  .claude/agents/Michael.md
  .claude/agents/Parker.md
  .claude/agents/README.md
  .claude/agents/Ryan.md
  .claude/agents/Voorhees.md
  .claude/agents/personas/AGENT_PERSONAS.md
  .claude/strategies/FLOW_EXECUTION_STRATEGY.md
  .claude/strategies/TEST_SUITE_OPTIMIZATION_STRATEGY.md
  docs/testing/TESTING_STRATEGY_ANALYSIS.md
  packages/@atomiton/nodes/src/templates/flows/data-transform.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/hello-world.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/image-processor.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/index.ts
  packages/@atomiton/nodes/src/templates/registry.ts
Due: format, lint-fix, markdown-tables

feat: implement FlowsPage UI with two-column layout
  apps/client/src/templates/DebugPage/components/FlowActionButtons.tsx
  apps/client/src/templates/DebugPage/components/FlowProgressBar.tsx
  apps/client/src/templates/DebugPage/components/FlowSelector.tsx
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
Due: format, lint-fix

feat: implement flow execution with real-time progress tracking
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
Due: format, lint-fix

feat: add flows e2e test and enhance UI components
  .claude/strategies/FLOW_EXECUTION_STRATEGY.md
  apps/client/src/templates/DebugPage/components/FlowProgressBar.tsx
  apps/client/src/templates/DebugPage/components/FlowSelector.tsx
  apps/client/src/templates/DebugPage/components/LogsSection.tsx
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  apps/e2e/src/flows.e2e.ts
  examples/hello-world.yaml
  packages/@atomiton/nodes/src/templates/flows/hello-world.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/index.ts
Due: format, lint-fix, markdown-tables

feat: implement execution graph tracking system
  apps/desktop/src/main/services/channels.ts
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/execution/executeGroup.ts
  packages/@atomiton/conductor/src/execution/executeLocal.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/exports/desktop/index.ts
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/src/graph/criticalPath.ts
  packages/@atomiton/nodes/src/graph/graphAnalyzer.test.ts
  packages/@atomiton/nodes/src/graph/graphAnalyzer.ts
  packages/@atomiton/nodes/src/graph/index.ts
  packages/@atomiton/nodes/src/graph/topologicalSort.ts
  packages/@atomiton/nodes/src/graph/weights.ts
  packages/@atomiton/nodes/vite.config.ts
Due: format, lint-fix

refactor(conductor): reorganize API to domain-based structure
  .claude/strategies/MIGRATE_TO_EVENTEMITTER3.md
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  apps/desktop/src/main/services/channels.ts
  packages/@atomiton/conductor/src/conductor.ts
Due: format, lint-fix, markdown-tables

docs: mark Phase A5 as complete in strategy document
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
Due: format, markdown-tables

refactor(browser): reorganize events API to domain-based structure
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/store.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
Due: format, lint-fix

docs: update visual node graph progress strategy with Phase A5 completion
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
Due: format, markdown-tables

feat: implement unified progress event API (Phase B1)
  .claude/strategies/CONDUCTOR_API_LAYERING_FIX.md
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  apps/desktop/src/integration/channels-progress-events.test.ts
  apps/desktop/src/main/services/channels.ts
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/exports/browser/eventsApi.ts
  packages/@atomiton/conductor/src/exports/browser/flow.test.ts
  packages/@atomiton/conductor/src/exports/browser/flow.ts
  packages/@atomiton/conductor/src/exports/browser/index.test.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/conductor/src/exports/browser/types.test.ts
  packages/@atomiton/conductor/src/exports/browser/types.ts
  packages/@atomiton/conductor/src/test-utils/factories.ts
  packages/@atomiton/conductor/vite.config.ts
  packages/@atomiton/rpc/src/renderer/createTransport.ts
  packages/@atomiton/rpc/src/renderer/index.ts
Due: format, lint-fix, markdown-tables

docs: update Phase B1 with test coverage details
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
Due: format, markdown-tables

feat(editor): add dagre auto-layout utilities (Phase B2.1)
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  packages/@atomiton/editor/package.json
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/utils/layout/dagre.ts
  packages/@atomiton/editor/src/utils/layout/index.ts
  pnpm-lock.yaml
Due: format, lint-fix, markdown-tables

feat(client): implement ExecutionGraphViewer component (Phase B2.3)
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/ExecutionGraphCanvas.tsx
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/README.md
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/index.tsx
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/transforms.test.ts
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/transforms.ts
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/useExecutionGraphSync.ts
  packages/@atomiton/conductor/src/exports/browser/index.ts
  packages/@atomiton/editor/src/components/Canvas/styles.css
  packages/@atomiton/editor/src/components/Node/index.tsx
  packages/@atomiton/editor/src/index.css
  packages/@atomiton/editor/src/index.ts
  packages/@atomiton/editor/src/types/EditorNode.ts
  packages/@atomiton/editor/src/utils/layout/index.ts
Due: format, lint-fix, markdown-tables

fix(hooks): exclude E2E and integration tests from pre-commit
  lefthook.yml
Due: format

fix(test): add missing vitest configs to prevent integration tests in pre-commit
  apps/client/package.json
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/vitest.config.ts
  packages/@atomiton/conductor/vitest.integration.config.ts
  packages/@atomiton/editor/package.json
  packages/@atomiton/logger/package.json
  packages/@atomiton/logger/vitest.config.ts
  packages/@atomiton/logger/vitest.integration.config.ts
  packages/@atomiton/nodes/package.json
  packages/@atomiton/nodes/vitest.config.ts
  packages/@atomiton/router/package.json
  packages/@atomiton/store/package.json
  packages/@atomiton/utils/package.json
  packages/@atomiton/utils/vitest.integration.config.ts
Due: format, lint-fix

fix(desktop): update integration test mocks to match conductor API
  apps/desktop/src/integration/channels-progress-events.test.ts
Due: format, lint-fix

fix(hooks): use pnpm turbo instead of turbo directly
  lefthook.yml
Due: format

docs: add visual node animations strategy document
  .claude/strategies/VISUAL_NODE_ANIMATIONS_STRATEGY.md
Due: format, markdown-tables

refactor(debug): simplify flow selection with local state
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/ExecutionGraphCanvas.tsx
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/index.tsx
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/transforms.test.ts
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/transforms.ts
  apps/client/src/templates/DebugPage/components/ExecutionGraphViewer/useExecutionGraphSync.ts
  apps/client/src/templates/DebugPage/hooks/useFlowOperations.ts
  apps/client/src/templates/DebugPage/pages/FlowsPage.tsx
  packages/@atomiton/editor/src/components/Canvas/CanvasRoot.tsx
  packages/@atomiton/editor/src/components/Editor/EditorRoot.tsx
  packages/@atomiton/editor/src/components/Node/index.tsx
  packages/@atomiton/editor/src/utils/transform.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/index.ts
  packages/@atomiton/nodes/src/templates/flows/data-transform.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/hello-world.flow.yaml
  packages/@atomiton/nodes/src/templates/flows/image-processor.flow.yaml
Due: format, lint-fix

feat(conductor): implement unified execution path for all nodes
  .claude/strategies/VISUAL_NODE_GRAPH_PROGRESS.md
  packages/@atomiton/conductor/src/conductor.ts
  packages/@atomiton/conductor/src/execution/executeGraph.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/nodes/src/graph/graphAnalyzer.ts
Due: format, lint-fix, markdown-tables

feat(conductor): implement weighted progress tracking with caching
  packages/@atomiton/conductor/package.json
  packages/@atomiton/conductor/src/execution/executionGraphStore.test.ts
  packages/@atomiton/conductor/src/execution/executionGraphStore.ts
  packages/@atomiton/conductor/src/test-utils/factories.ts
  packages/@atomiton/editor/src/hooks/useNodeExecutionState.ts
  packages/@atomiton/nodes/src/core/types/metadata.ts
  packages/@atomiton/nodes/src/definitions/edit-fields/index.ts
  packages/@atomiton/rpc/src/main/channels/nodeChannel.ts
  pnpm-lock.yaml
Due: format, lint-fix
